<%= _title I18n.t("admin.pages.title") %>
<h1><%= I18n.t("admin.pages.title") %></h1>
<div><%= link_to I18n.t("admin.pages.new_page"), new_resource_path %></div>
<table class="basic_table pages_table mp3-list ">
  <tr>
    <th><%= I18n.t('id') %></th>
    <th><%= I18n.t('admin.pages.name') %></th>
    <th><%= I18n.t('admin.pages.permalink') %></th>
    <th><%= I18n.t("actions") %></th>
  </tr>
  <% for page in @pages %>
  <tr>
    <td><%= page.id %></td>
    <td><%= link_to page.name, resource_path(page) %></td>
    <td><%=link_to page.permalink, stat_path(page.permalink) %></td>
    <td><%= link_to I18n.t("edit"), edit_admin_page_path(page.id) %>
<%= link_to I18n.t("delete"), admin_page_url(page.id), :method => :delete, :confirm => "Вы действительно хотите удалить страницу?" %>
    </td>
  </tr>
  <% end %>
</table>
