<%= _title I18n.t("admin.pages.new_page") %>
<h1><%= I18n.t("admin.pages.new_page") %></h1>
<%= link_to "back", collection_path %>
<% semantic_form_for [:admin, resource] do |form| %>
<%= render :partial => 'form', :object => form %>
<% form.buttons :class => "create_button" do -%>
<%= form.commit_button I18n.t("admin.pages.create_page") %>
<% end -%>
<% end -%>
