<% title I18n.t("profits") %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to "Баланс", admin_profits_path %></li>
	<li><%= link_to I18n.t("edit"), edit_admin_profits_path %></li>
</ul>

<table class="basic_table profits_table mp3-list">
  <tr>
    <th><%= I18n.t("actions") %></th>
    <th><%= I18n.t("admin.profits.cost") %></th>
  </tr>
  <% @profits.each do |pr| %>
  <tr class="<%= cycle( 'white', '') %>">
    <td><%= pr.name %></td>
    <td>

      <% if pr.percentage? -%>
      <%= number_to_percentage pr.cost, :precision => 2 %>
      <% else -%>
      <%= number_to_currency pr.cost %>
      <% end -%>

    </td>

  </tr>
  <% end -%>
</table>
