<h1><%= I18n.t("gateways") %></h1>
<table class="basic_table gateways_table ">
  <tr>
    <td>Название</td>
    <td>Включен</td>
    <td>Действия</td>
  </tr>
  <% @gateways.each do |gw| %>
  <tr>
    <td><%= link_to gw.name, admin_gateway_path(gw), :title => I18n.t(["show",gw.class.to_s.demodulize.downcase].join('_')) %></td>
    <td><%= I18n.t(Settings[:boolean_display][gw.active?]) %></td>
    <td>
      <%= link_to I18n.t("edit"), edit_admin_gateway_path(gw), :title => I18n.t(["edit",gw.class.to_s.demodulize.downcase].join('_')) %> <%= link_to I18n.t("admin.gateways.countries"), admin_gateway_cost_countries_path(gw) if gw.class.to_s =~ /Gateway::Mobilcents/ %>
    </td>
  </tr>
  <% end -%>
</table>
