<%= _title [I18n.t("gateway"), resource.name].join(": ") %>
<h1><%= [I18n.t("gateway"), resource.name].join(": ") %></h1>
<%= link_to I18n.t("list_of_gateways"), collection_path %>
<%= link_to I18n.t("edit"), edit_resource_path %>
<div>
  <div><span><%= Gateway.human_attribute_name :name %></span>: <%= resource.name %></div>
  <div><span><%= Gateway.human_attribute_name :active %></span>: <%= I18n.t(Settings[:boolean_display][resource.active?]) %> </div>
  <span>Параметры:</span><br />
  <% resource.class.edit_attrs.each do |a| -%>
  <div>
    <span><%= Gateway.human_attribute_name a.to_sym %></span>:
    <%= resource.send a.to_sym %>
  </div>
  <% end -%>

  <div><span><%= Gateway.human_attribute_name :description %></span>: <%= h resource.description %></div>
  <% if resource.class.to_s[/webmoney/i] -%>
  <div>
    <h4>Список урлов которые нужно заполнить в Webmoney</h4>
    <div><span>Seccess url</span>: <%= success_webmoney_url  %></div>
    <div><span>Result url</span>: <%= result_webmoney_url %></div>
    <div><span>Fail url</span>: <%= fail_webmoney_url  %></div>
  </div>
  <% end -%>
</div>
