<% form_tag to_playlist_admin_playlists_path, :id => "track_form", :method => :post do %>
<%= hidden_field_tag "cart", "off", :id => "on_off_cart" %>

<% if current_user -%>
  <div class="p-c-buttons">
    <a href="#" class="buttons2 right to_playlist" id="to_playlist_button4">В плейлист</a>
  </div>
<% end -%>


<div class="new-popula">
  <table id="tracks" class="mp3-list">
    <% @tracks.compact.each_with_index do |track, index| %>
      <%= render :partial => "tracks/track", :locals => {:track => track, :index => index, :count_downloads => false} %>
    <% end %>
  </table>
<% end %>

<%= paginate @tracks if paginate %>


</div>

<% if current_user -%>
<div id="choose_playlist" style="display:none;">
  <h2>Выбрать плейлист:</h2>
  <%= select nil, "playlist_id", current_user.playlists.all.collect {|p| [p.title, p.id]} %>
  <%= submit_tag "OK", :id => "add_to_playlist" %>
</div>

<div class="p-c-buttons">
  <a href="#" class="buttons2 right to_playlist" id="to_playlist_button3">В плейлист</a>
</div>





<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    $(".to_playlist").click(function(){
     if (!!$("[name='track_ids[]']:checked").length){
       $("#choose_playlist").dialog({ title: "Выбор плейлиста." });
     } else {
       $("#dialog").html("<div class='red'>Нужно выбрать треки.</div>")
       $("#dialog").dialog({title: 'Внимание' });
     }
     return false;
  });

  $("#add_to_playlist").click(function(){
       $.ajax({
             "url": $("#track_form").attr('action')+'.js',
            "data": $("#track_form").serialize()+"&playlist_id="+$("#_playlist_id").val(),
            "type": "POST",
      "beforeSend": function(){},
         "success": function(data) {
              $("#dialog").dialog({title: 'Уведомление.'});
            },
         "complete": function(){ $("#choose_playlist").dialog( 'close' ); }
          });
       return false;
    });

  });
</script>
<% end -%>
