
  <% form_tag to_playlist_admin_playlists_path, :id => "track_form", :method => :post do %>
    <%= hidden_field_tag "cart", "off", :id => "on_off_cart" %>

<% if current_user -%>
  <div class="p-c-buttons">
    <a href="#" class="buttons2 right" id="to_playlist_button4">В плейлист</a>
  </div>
<% end -%>


<div class="new-popular">
<table id="tracks" class="mp3-list">
  <% @tracks.each_with_index do |track, index| %>
    <% if track %>
      <%= render :partial => "tracks/track", :locals => {:track => track, :index => index, :count_downloads => false} %>
      <% end %>
    <% end %>

</table>
  <% end %>
<%= paginate @tracks if paginate %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

   $('input:checkbox').click(function() {
      var buttonsChecked = $('input:checkbox:checked');
      if (buttonsChecked.length) {$('#to_playlist_button').removeAttr('disabled');$('#to_cart_button').removeAttr('disabled');}
      else {$('#to_playlist_button').attr('disabled', 'disabled');$('#to_cart_button').attr('disabled', 'disabled');}
   });

   $("#to_playlist_button4").click(function () {
     $("#choose_playlist").toggle();
     return false;
   });

   $("#to_playlist_button3").click(function () {
     $("#choose_playlist").toggle();
      return false;
   });

    $("#track_form").submit(function(){
       $.ajax({
             "url": $(this).attr('action')+'.js',
            "data": $(this).serialize(),
            "type": "POST",
         "success": function(data) { 
              $("#dialog").dialog();
            }
          });
       return false;
    });

  });
</script>
	<div class="corner-lb"><span></span></div>

    <% if current_user %>
      <div id="choose_playlist" style="display:<%= RAILS_ENV=='test' ? 'inline' : 'none' %>;float:right;">
        <h2>Выбрать плейлист:</h2>
        <%= select nil, "playlist_id", current_user.playlists.all.collect {|p| [p.title, p.id]} %>
        <%= submit_tag "OK", :id => "add_to_playlist" %>
      </div>
    <% end %>

</div>

<% if current_user -%>
  <div class="p-c-buttons">
    <a href="#" class="buttons2 right" id="to_playlist_button3">В плейлист</a>
  </div>
<% end -%>
