<table id="tracks" class="mp3-list">
  <button style="float:right;" id="to_playlist" type="single_button">В плейлист</button>
  <% form_tag complete_admin_playlists_path, :id => "track_form" do  %>
    <%#= hidden_field_tag "cart", "off" %>
    <%= submit_tag "В корзину", :name => "to_cart", :id => "to_cart", :style => "float:right;" %>
    <div id="playlists" style="display:<%= RAILS_ENV=='test' ? 'inline' : 'none' %>;">
      <h2>Выбрать плейлист:</h2>
      <%= select nil, "playlist_id", current_user.playlists.all.collect {|p| [p.title, p.id]} if current_user %>
      <%= submit_tag "OK", :id => "add_to_playlist" %>
    </div>
    <% @tracks.each_with_index do |track, index| %>
      <%= render :partial => "tracks/track", :locals => {:track => track, :index => index, :count_downloads => false} %>
    <% end %>
  <% end %>
</table>
<%= paginate @tracks if paginate %>
<script type="text/javascript" charset="utf-8">
/*  $(function(){
    $("#to_playlist").click(function() {
      $("#to_playlist").value = 'on'
    });
    $("#track_form").submit(function(){
       $.ajax({
             "url": $(this).attr('action')+'.js',
            "data": $(this).serialize(),
            "type": "PUT",
         "success": function(data) { },
          });
       return false;
    });
  });
*/
</script>
<script type="text/javascript">
    $(document).ready(function() {
     $('input:checkbox').click(function() {
        var buttonsChecked = $('input:checkbox:checked');
        if (buttonsChecked.length) {$('#to_playlist').removeAttr('disabled');$('#to_cart').removeAttr('disabled');}
        else {$('#to_playlist').attr('disabled', 'disabled');$('#to_cart').attr('disabled', 'disabled');}
        });
    });
</script>

