<tr>
  <td id="track_<%= index+1 %>_author"><%= track.author %></td>
  <td id="track_<%= index+1 %>_title"><%= link_to track.title, track %></td>
  <td><%= track.bitrate %></td>
  <td><%= mb(track.data_file_size) %></td>
  <td>
    <%= link_to "Удалить", admin_track_path(track), :confirm => 'А вы уверены?', :method => :delete, :id => "track_#{index+1}_delete" %>
  </td>
</tr>

