%tr{:class => cycle('orange', 'white'), :id => dom_id(track)}
  %td
    = index+1
    \.
  %td= link_to track.author, author_tracks_url(:author => track.author)
  %td= link_to track.title, track
  %td
    = track.bitrate
    кб/с
  %td= number_to_human_size track.data_file_size
  %td= check_box_tag "track_ids[]", track.id, false, :id => "track_ids_#{track.id}", :"data-bitrate" => track.bitrate
  %td= link_to "", admin_listen_track_path(track), :class => "listen listen-play", :id => "listen_track_#{track.id}"
  / <td class="small"><a href="#" class="favorites"></a></td>
  - unless params[:controller] == "users"
    - if current_user
      %td.small
        - unless current_user == track.user
          = link_to "", add_carts_url(:"track_ids[]" => track.id),
                :class => "add-to-cart", :remote => true, :id => dom_id(track, :cart)
  - if action_name == "top_mp3"
    %td= track.rating
  %td.small
  %td.small
    - if current_user && (current_user.tracks.include?(track) || current_user.admin?)
      = link_to(image_tag("edit.png"), edit_admin_track_path(track),    |
        :title => "Редактировать трек #{track.title}", |
        :id => "track_#{index+1}_edit",                                 |
        :class => "edit js_link_edit_track",                            |
        :data_size => '300x500')                                        |
