<tr>
  <td id="track_<%= index+1 %>_author"><%= track.author %></td>
  <td id="track_<%= index+1 %>_title"><%= track.title %></td>
  <td><%= track.bitrate %></td>
  <td><%= track.data_file_size %></td>
</tr>

