<%= title [@track.author, @track.title].join(' - ') %>

<ul class="catalog dotted">
  <li class="selected"><a href="#">Скачать MP3</a></li>
</ul>

<p class="all-list dotted"><%= link_to "Весь список", tracks_url %></p>

<% if current_user -%>
<div class="p-c-buttons">
  <button type="single_button" id="to_playlist_button"  style="float: right;" class="to_playlist buttons2 right">В плейлист</button>
</div>
<% end %>

<div class="new-popular">
  <table class="mp3-list download">
    <tr>
      <td class="name"><a href="#"><%= @track.author %></a></td>
      <td><a href="#" class="black"><%= @track.title %></a></td>
      <td><%= @track.bitrate %> мб/с</td>
      <td><%= number_to_human_size @track.data_file_size %></td>
      <td class="small">
        <%= link_to "", admin_listen_track_path(@track), :class => "listen listen-play", :id => "listen_track_#{@track.id}" %>
      </td>

      <% if current_user %>
      <td class="small">
        <%= link_to_remote "", :url => to_cart_admin_playlists_url(:track_ids => @track.id) , :html => { :class => "add-to-cart" }  %>
      </td>
      <% end %>
    </tr>
    <% if current_user && current_user.file_link_of(@track) %>
    <tr class="white">
      <td class="name red">Выберите формат для скачивания</td>
      <td colspan="4">
        <ul class="formats">
          <% @file_formats.each do |format| %>
          <li><%= link_to_download current_user.file_link_of(@track), format %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </table>

	<div class="corner-lb"><span></span></div>

  <% if current_user %>
    <% form_tag to_playlist_admin_playlists_path, :id => "track_form", :method => :post do %>
      <%= hidden_field_tag "cart", "off", :id => "on_off_cart" %>
      <%= hidden_field_tag "track_ids[]", @track.id %>
    <% end %>

    <div id="choose_playlist" style="display:none;">
      <h2>Выбрать плейлист:</h2>
      <%= select nil, "playlist_id", current_user.playlists.all.collect {|p| [p.title, p.id]} %>
      <%= submit_tag "OK", :id => "add_to_playlist" %>
    </div>
    <% end %>
</div>


<% unless current_user && current_user.file_link_of(@track) %>
<%= link_to_or_login "Сгенерировать ссылку", generate_file_link_path(@track), :id => "generate_link" %>

<% if permitted_to? :show, :mp3_cuts %>
Или нарезать трек: <%= link_to "Нарезка трека",  mp3_cut_path(@track) %>
<% end %>


<% end %>

<p class="info">
  Для скачивания мп3 необходимо выбрать нужный вам формат.<br/>
  Если Вы скачиваете файл не в формате мп3, то переименуйте потом его в нужный формат.<br/>
  Пример: Anouk_All_Around_Me_(original).<b>doc</b> - Anouk_All_Around_Me_(original).<b>mp3</b>
</p>





<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

  $("#to_cart_button").click(function () {
    $("#track_form").attr({action: "/admin/playlists/to_cart"});
    $("#on_off_cart").attr({value: "on"});
    $.ajax({
    "url": "/admin/playlists/to_cart.js",
    "data": "track_ids[]=<%=@track.id%>",
    "type": "POST",
    "success": function(data) { },
    });
    });


$(".to_playlist").click(function(){
     $("#choose_playlist").dialog({ title: "Выбор плейлиста." });
     return false;
  });

  $("#add_to_playlist").click(function(){
       $.ajax({
             "url": $("#track_form").attr('action')+'.js',
            "data": $("#track_form").serialize()+"&playlist_id="+$("#_playlist_id").val(),
            "type": "POST",
      "beforeSend": function(){},
         "success": function(data) {
              $("#dialog").dialog({title: 'Уведомление.'});
            },
         "complete": function(){ $("#choose_playlist").dialog( 'close' ); }
          });
       return false;
    });


    });
  </script>
