<%#= render @track.playlist %>

<h1><%= @track.fullname %></h1>

<div id="title">
  <%= @track.title %>
</div>
<div id="author">
  <%= @track.author %>
</div>
<div id="owner">
  <%= @track.owner %>
</div>

<div id="link">
  <% if current_user && current_user.file_link_of(@track) %>
    Ваша ссылка: <%= link_to_download current_user.file_link_of(@track) %>
    <div id="download">
      Выберите формат для скачивания:
      <% for file_format in @file_formats %>
        <div id="file_link_<%= file_format %>">
          <h2><%= file_format %></h2><%= link_to_download current_user.file_link_of(@track), file_format %>
        </div>
      <% end %>
    </div>
  <% else %>
    Вы можете <strong>Сгенерировать ссылку</strong> для скачивания трека:
    <%= link_to_or_login "Сгенерировать ссылку", generate_file_link_path(@track), :id => "generate_link" %>
  <% end %>
  <% if current_user && current_user.assorted_mp3? -%>
    Или нарезать трек: <%= link_to "Нарезка трека",  mp3_cut_path(@track) %>
  <% end -%>
</div>

