
    <ul class="catalog dotted">
  <li class="selected"><a href="#">Скачать MP3</a></li>
  <li><%= link_to "Популярные MP3", top_mp3_tracks_url %></li>
</ul>
<p class="all-list dotted"><%= link_to "Весь список", tracks_url %></p>
<div class="p-c-buttons">
  <button type="single_button" id="to_playlist_button" style="float: right;" class="buttons2 right">В плейлист</button>
  <button type="single_button" id="to_cart_button" style="float: left;" class="buttons2 right">В корзину</button>
</div>
<div class="new-popular">
  <table class="mp3-list download">
          <tr>
                  <td class="name"><a href="#"><%= @track.fullname %></a></td>
                  <td><a href="#" class="black"><%= @track.title %></a></td>
                  <td><%= @track.bitrate %> мб/с</td>
                  <td><%= @track.data_file_size_in_mega %> мб</td>
                  <td class="small"><%= link_to_remote "", :url => to_cart_admin_playlists_url(:track_ids => @track.id) , :html => { :class => "add-to-cart" }  %></td>
          </tr>
 <% if current_user && current_user.file_link_of(@track) %>
          <tr class="white">
                  <td class="name red">Выберите формат для скачивания</td>
                  <td colspan="4">
                          <ul class="formats">
<% for file_format in @file_formats %>
    <li><%= link_to_download current_user.file_link_of(@track), file_format %></li>
<% end %>

                          </ul>
                  </td>
          </tr>
          <% end %>
  </table>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
   $('input:checkbox').click(function() {
      var buttonsChecked = $('input:checkbox:checked');
      if (buttonsChecked.length) {$('#to_playlist_button').removeAttr('disabled');$('#to_cart_button').removeAttr('disabled');}
      else {$('#to_playlist_button').attr('disabled', 'disabled');$('#to_cart_button').attr('disabled', 'disabled');}
   });

   $("#to_playlist_button").click(function () {
     $("#choose_playlist").toggle();
   });

    $("#to_cart_button").click(function () {
      $("#track_form").attr({action: "/admin/playlists/to_cart"});
      $("#on_off_cart").attr({value: "on"});
             $.ajax({
             "url": "/admin/playlists/to_cart.js",
            "data": "track_ids[]=<%=@track.id%>",
            "type": "POST",
         "success": function(data) { },
          });
    });

    $("#track_form").submit(function(){
       $.ajax({
             "url": $(this).attr('action')+'.js',
            "data": $(this).serialize(),
            "type": "POST",
         "success": function(data) { },
          });
       return false;
    });

  });
</script>
	<div class="corner-lb"><span></span></div>

    <% if current_user %>
      <% form_tag to_playlist_admin_playlists_path, :id => "track_form", :method => :post do %>
      <%= hidden_field_tag "cart", "off", :id => "on_off_cart" %>
      <%= hidden_field_tag "track_ids[]", @track.id %>
        
      <div id="choose_playlist" style="display:<%= RAILS_ENV=='test' ? 'inline' : 'none' %>;float:right;">
        <h2>Выбрать плейлист:</h2>
        <%= select nil, "playlist_id", current_user.playlists.all.collect {|p| [p.title, p.id]} %>
        <%= submit_tag "OK", :id => "add_to_playlist" %>
      </div>
      <%end%>
    <% end %>
  
</div>


<% unless current_user && current_user.file_link_of(@track) %>
  <%= link_to_or_login "Сгенерировать ссылку", generate_file_link_path(@track), :id => "generate_link" %>
  Или нарезать трек: <%= link_to "Нарезка трека",  mp3_cut_path(@track) %>
<%end%>
  
<p class="info">
        Для скачивания мп3 необходимо выбрать нужный вам формат.<br/>
        Если Вы скачиваете файл не в формате мп3, то переименуйте потом его в нужный формат.<br/>
        Пример: Anouk_All_Around_Me_(original).<b>doc</b> - Anouk_All_Around_Me_(original).<b>mp3</b>
</p>
