<div>
  <div>
    <span>Выберите страну</span>
    <%= select_tag "country", options_for_select([[nil, nil]]+@price_sms.collect{ |k,v| [v[:country_name], k.to_s] }.sort) %>
  </div>
  <div style="display:none">
    <span>Выберите оператора сотовой связи</span>
    <span id="providers_place"></span>
  </div>
  <div id="sms_place"></div>
</div>

<div>
<% semantic_form_for :sms, :url => pay_mobilcents_path, :html => { :id => "mobilcents_form"} do |form| %>
<% form.inputs  do -%>
<%= form.input :code, :wrapper_html => {:class => "base_form" }, :label => "Введи пароль полученный в ответном смс сообщении." %>
<% end -%>
<% form.buttons do -%>
<%= form.commit_button I18n.t('continue'), :class => "base_buttons" %>
<%= link_to I18n.t("cancel"), payments_path %>
<% end -%>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
  var data = <%= @price_sms.to_json %>;

  function show_sms_info(val){
    var el =$("#sms_place");
    $(el).empty();
    var t = $("#country").val();  var v = val;
    var sms_price = data[""+t+""]["providers"][""+v+""]["sms_price"]
    var span_el = []
    for (sms in sms_price) {
      msg = "Для пополнения баланса на сумму "+sms_price[sms]["price"]+"("+sms_price[sms]["currency"]+"), отправьте смс на номер "+sms_price[sms]["number"]+" с текстом "+sms_price[sms]["message"];
      span_el.push("<div>"+msg+"</div>");
     };
   $(el).append(span_el.join(''));
  };



  $("#country").change(function(){
    var el = $("#providers_place");
    var p_el = $(el).parents("div:first");
    $(p_el).hide();
    var sms_el =  $("#sms_place");
    $(el).empty(); $(sms_el).empty();
    var t = $(this).val();
    if (!data[""+t+""]["providers"]["default"]){
       var options  =["<option></option>"];
       for (provider in data[""+t+""]["providers"])
         {options.push("<option value='"+provider+"'>"+data[""+t+""]["providers"][provider]["name"]+"</option>"); };
         $(el).append($("<select id='providers'></select>").append(options.join('')));
       $(p_el).show();
    } else {
       show_sms_info("default");
    };
  });


  $("#providers").live("change", function(){ show_sms_info($(this).val());  });

   $("#mobilcents_form").submit(function(){
    var parent_element = $(this).parent("div");
     $.ajax({
           "url": $(this).attr('action')+'.js',
          "data": $(this).serialize(),
          "type": "POST",
       "success": function(data) {
                  $(parent_element).html(data); },
        });
     return false;
   });
  });
</script>


