<tr>
  <td id="playlist_<%= index+1 %>_title"><%= link_to playlist.title, admin_playlist_path(playlist) %></td>
  <td id="playlist_<%= index+1 %>_description"><%= playlist.description %></td>
</tr>
<div id="manage_links">
  <%= link_to "Редактировать", edit_admin_playlist_path(playlist), :title => "Редактировать плейлист", :id => "playlist_edit", :class => "edit" %>
  <%= link_to "Удалить", admin_playlist_path(playlist), :confirm => 'А вы уверены?', :method => :delete, :id => "playlist_delete", :class => "destroy" %>
</div>

