<tr <%= cycle('', ' class="white"') %> id="track_<%= index+1 %>">
	<td class="num"><%= index+1 %>.</td>
	<td id="track_<%= index+1 %>_author"><%= link_to track.author, track %></td>
	<td id="track_<%= index+1 %>_title"><%= track.title %></td>
	<td class="size"><%= mb(track.data_file_size) %></td>
	<td class="time"><%= track.duration %></td>
	<td class="small">
	  <%= link_to "", admin_listen_track_path(track), :class => "listen", :data_author => track.author,
                                                                             :data_title => track.title   %>
  </td>
	<td class="small">
    <%= link_to "", delete_from_playlist_url(:id => track.id, :playlist_id => playlist_id), :class => "delete", :title => "delete_track_#{index+1}_from_playlist", :method => :delete %>
	</td>
</tr>

