%tr{:class => cycle('orange', 'white'), :id => "track_#{index+1}"}
  %td.num
    = index+1
    \.
  %td{:id => "track_#{index+1}_author"}= link_to track.author, track
  %td{:id => "track_#{index+1}_title"}= track.title
  %td.size= number_to_human_size(track.data_file_size)
  %td.time= track.duration
  %td.small
    = check_box_tag "track_for_play_#{index+1}", track.id, false, :class => "check_for_play", :data_author => track.author, :data_title => track.title, :duration => track.length.to_i, :href => admin_listen_track_path(track), :value => "#{track.id}", :name => "track_ids[]"
  %td.small
    = link_to "", admin_listen_track_path(track), :class => "listen", :data_author => track.author, :data_title => track.title, :id => "#{index+1}_listen", :duration => track.length.to_i
  %td.small
    - if current_user && (current_user.admin? || @playlist.user == current_user )
      = link_to "", delete_from_playlist_url(:id => track.id, :playlist_id => playlist_id), |
        :class => "delete", :title => t("delete_this_track_from_playlist")                  |
