<ul class="catalog dotted">
  <li class="selected"><%= link_to "Редактировать плейлист", edit_admin_playlist_path %></li>
</ul>
<ul class="all-list dotted">

  <li class="prev">
    <% unless @prev_playlist.blank? %>
      <%= link_to "Предыдущий", edit_admin_playlist_path(@prev_playlist) %>
    <% else %>
      <span class="disabled">Предыдущий</span>
    <% end %>
  </li>
  <li class="next">
    <% unless @next_playlist.blank? %>
    <%= link_to "Следующий", edit_admin_playlist_path(@next_playlist) %>
    <% else %>
    <span class="disabled">Следующий</span>
    <% end %>
  </li>

  <li class="delete-playlist">
    <%= link_to "Удалить", admin_playlist_path(@playlist), :confirm => 'А вы уверены?',
                                                           :method => :delete, :id => "playlist_delete" %>
  </li>
</ul>

<% form_for [:admin, @playlist], :html => { :class => "new-playlist", :multipart => true } do |f| %>
  <fieldset>
    <%= f.error_messages :class => "red"%>
    <%= render :partial => "form", :locals => {:f => f} %>
	  <div class="buttons">
      <%= f.submit "сохранить", :class => "buttons" %>
      <%= link_to "отменить", admin_playlist_path(@playlist), :class => "cancel" %>
	  </div>
  </fieldset>
<% end %>

<ul class="tracks-in-playlist">
  <li><a class="mix"></a></li>
  <li><a class="download"></a></li>
  <li></li>
</ul>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".delete").click(function(){
       $.ajax({
             "url": $(this).attr("href")+".js",
              "type": "DELETE"
        });
       return false;
    });
    $(".up").click(function(){
       $.ajax({
             "url": $(this).attr("href")+".js",
              "type": "POST"
        });
       return false;
      $("#mytracks").html('')
    });
    $(".down").click(function(){
       $.ajax({
             "url": $(this).attr("href")+".js",
              "type": "POST"
        });
       return false;
      $("#mytracks").html('')
    });
  });
</script>

<div id="mytracks">
  <%= render :partial => "admin/tracks/row" %>
</div>

