<div id="title">
  <%= @playlist.title %>
</div>
<div id="description">
  <%= @playlist.description %>
</div>
<div id="owner">
  <%= @playlist.owner %>
</div>
<div id="manage_links">
  <%= link_to "Редактировать", edit_admin_playlist_path(@playlist), :title => "Редактировать плейлист", :id => "playlist_#{@playlist.id}_edit", :class => "edit" %>
  <%= link_to "Удалить", admin_playlist_path(@playlist), :confirm => 'А вы уверены?', :method => :delete, :id => "playlist_#{@playlist.id}_delete", :class => "destroy" %>
</div>

<h2>Загрузить с компьютера</h2>
<% semantic_form_for [:admin, @track], :html => { :multipart => true } do |f| %>
  <%= hidden_field_tag "playlist_id", @playlist.id %>
  <%= hidden_field_tag "track[user_id]", @user.id %>
  <%= f.error_messages %>
  <div class="data_files">
    <div class="data_form">
        <p>
          <%= label_tag "Название" %>
          <%= text_field_tag "track_1[title]" %>
          <%= label_tag "Автор" %>
          <%= text_field_tag "track_1[author]" %>
          <%= label_tag "Файл" %>
          <%= file_field_tag "track_1[data]" %>
        </p>
    </div>
    <a href="#" id="add_form">Добавить поля</a>
    <div id="form_fields" style="display:none">
      <% Array.new(9).each_index do |index| %>
        <p>
          <%= label_tag "Название" %>
          <%= text_field_tag "track_#{index+2}[title]" %>
          <%= label_tag "Автор" %>
          <%= text_field_tag "track_#{index+2}[author]" %>
          <%= label_tag "Файл" %>
          <%= file_field_tag "track_#{index+2}[data]" %>
        </p>
      <% end %>
    </div>
    <div id="data_file">
      <%= f.submit "Загрузить" %>
    </div>
  </div>
<% end %>

<h2>Загрузить по ссылке</h2>
<% semantic_form_for [:admin, @track], :url => {:controller => "admin/tracks", :action => :upload}, :html => { :multipart => true } do |f| %>
  <%= hidden_field_tag "playlist_id", @playlist.id %>
  <%= hidden_field_tag "track[user_id]", @user.id %>
  <%= f.error_messages %>
  <%= text_area_tag :data_url %>
  <div id="data_url_block">
    <%= f.submit "Загрузить" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#add_form").click(function () {
      $("#form_fields").toggle();
    });
  });
</script>

<table id="tracks">
  <tr>
    <th>Исполнитель</th>
    <th>Название</th>
    <th>Битрейт</th>
    <th>Размер</th>
  </tr>
  <% @tracks.each_with_index do |track, index| %>
    <%= render :partial => "tracks/track", :locals => {:track => track, :index => index} %>
  <% end %>
</table>

