<tr>
  <td>Login: <%= comment.user.login %></td>
  <td>Name: <%= comment.name %></td>
  <td>email: <%= comment.email %></td>
  <td>Comment: <%= comment.comment %></td>
  <td>
    <%= link_to "", edit_admin_comment_path(comment), :title => t('edit comment'), :class => "edit" %>
  </td>
  <td>
    <%= link_to I18n.t("delete"), admin_comment_path(comment), :title => t('delete comment'), :confirm => t('a you sure?'), :method => :delete, :class => "delete" %>
  </td>

</tr>

