%h2 Comment for news
= render :partial => 'block_news_comment', :collection => @comments
%h2 New comments
= form_for [@commentable, Comment.new] do |f|
  = f.text_field :name
  %br/
  = f.text_field :email
  %br/
  = f.text_area :comment
  = f.submit "Create"
