
<div>
  <ul>
    <h4>Поиск</h4>
    <li><%= link_to 'Поиск', admin_searches_url(:default => "true") %></li>
  </ul>
  <ul>
    <h4>Управление</h4>
    <li><%= link_to "Группы", admin_roles_path %></li>
    <li><%= link_to 'Категории (новостей)', admin_news_categories_url %></li>
    <li><%= link_to "Модерация mp3", "" %></li>
    <li>Абузы</li>
    <li><%= link_to 'Новости', admin_news_items_url %></li>
    <li>Комментарии</li>
    <li><%= link_to "Страницы", admin_pages_path %></li>
    <li><%= link_to "Выплаты", admin_payouts_path %></li>
  </ul>
  <ul>
    <h4>НАСТРОЙКИ</h4>
    <li><%= link_to "Биллинг", admin_gateways_path %></li>
    <li><%= link_to "Баланс", admin_profits_path %></li>
    <li><%= link_to "Настройки", "" %></li>
    <li>Сервера</li>
    <li>Фильтры слов</li>
  </ul>
</div>

