<ul class="nav left">
	<li><a href="#">Список mp3</a></li>
	<li><%= link_to 'Новости', news_items_url %></li>
	<li><a href="#">Плейлисты</a></li>
	<li><a href="#">О нас</a></li>
	<li><a href="#">Реклама</a></li>
  <% if current_user -%>
	<li><%= link_to "Баланс", payments_path %></li>
	<li><%= link_to "Профиль", account_path %></li>
  <li><%= link_to I18n.t("logout"), logout_path %></li>
  <li><a href="#">Мои mp3</a></li>
	<li><a href="#">Плейлисты</a></li>
	<li><a href="#">Добавить mp3</a></li>
  <% end -%>
</ul>
<ul class="nav1 left">
	<li><%= link_to "Контактная информация", stat_path("contacts") %></li>
	<li class="create news"><a href="#">Создать плейлист</a></li>
</ul>
<div class="counters">
	<a href="#"><img src="images/counter2.gif" alt="counter"/></a>
	<a href="#"><img src="images/counter1.gif" alt="counter"/></a>
	<a href="#"><img src="images/counter2.gif" alt="counter"/></a>
</div>
<div class="clear">
	<p class="left">
    Всего <%= link_to Track.count, tracks_path%> mp3 файлов,
    <%= User.count %> пользователей,
    <%= link_to Playlist.count, playlists_path%> плейлистов</p>
	<p class="right">All right reserved 2008-2010. Powered by<a href="#" class="mp3koxa_small"></a></p>
</div>

