<ul class="nav left">
	<li><%= link_to 'Список mp3', tracks_url %></li>
	<li><%= link_to 'Новости', news_items_url %></li>
	<li><%= link_to "Плейлист", playlists_path %></li>
	<li><%= link_to I18n.t("about"), stat_path("about") %></li>
	<li><%= link_to I18n.t("advertising"), stat_path("advertising") %></li>

  <% if current_user -%>
	<li><%= link_to "Баланс", payments_path %></li>
	<li><%= link_to "Профиль", account_path %></li>
  <li><%= link_to I18n.t("logout"), logout_path %></li>
  <li><%= link_to 'Мои mp3', tracks_url %></li>
	<li><%= link_to 'Плейлисты', playlists_url %></li>
	<li><%= link_to 'Добавить mp3', new_track_url %></li>
  <% end -%>
</ul>
<ul class="nav1 left">
	<li><%= link_to I18n.t("contacts"), stat_path("contacts") %></li>
	<li class="create news"><a href="#">Создать плейлист</a></li>
</ul>
<div class="counters">
	<a href="#"><%= image_tag "counter2.gif" %></a>
	<a href="#"><%= image_tag "counter1.gif" %></a>
	<a href="#"><%= image_tag "counter2.gif" %></a>
</div>
<div class="clear">
	<p class="left">
    Всего <%= link_to Track.active.size, tracks_path%> mp3 файлов,
    <%= User.count %> пользователей,
    <%= link_to Playlist.count, playlists_path %> плейлистов</p>
	<p class="right">All right reserved 2008-2010. Powered by<a href="#" class="mp3koxa_small"></a></p>
</div>

