<div class="extra"><!-- Left Column -->
	<div class="info">
		<div class="corners-t"><span></span></div>
		<div class="info-in">
      <h3><%= I18n.t("top_users") %></h3>
			<ol>
        <% for user in User.top_balance %>
        <li><%= link_to truncate(user.login, :omission => "", :length => 10)  %> <span style="font-size: 80%;">(<%= user.balance %>$)</span></li>
        <% end %>
			</ol>
		</div>
		<div class="corners-b"><span></span></div>
	</div>

	<div class="info">
		<div class="corners-t"><span></span></div>
		<div class="info-in">
			<h3><%= I18n.t("links") %></h3>
			<ul>
				<li>&gt;&gt;<%= link_to I18n.t("forum"), "forum.mp3.adenin.ru" %></li>
				<li>&gt;&gt;<a href="#">Как залить мп3?</a></li>
				<li>&gt;&gt;<a href="#">Статистика</a></li>
				<li>&gt;&gt;<%= link_to I18n.t("advertising"), stat_path("advertising") %></li>
				<li>&gt;&gt;<%= link_to I18n.t("contacts"), stat_path("contacts") %></li>
			</ul>
		</div>
		<div class="corners-b"><span></span></div>
	</div>
	<div class="info">
    <div class="corners-t"><span></span></div>
    <div class="info-in">
      <div class="tag-cloud"><ul><%= show_tag_could %></ul></div>
    </div>
    <div class="corners-b"><span></span></div>
	</div>
</div>
