<div class="extra"><!-- Left Column -->

	<div class="info">
		<div class="corners-t"><span></span></div>
		<div class="info-in">
			<h3>Топ Пользователей</h3>
			<ol>
        <% for user in User.top_balance %>
        <li><%= link_to user.login  %> <span>(<%= user.balance %>$)</span></li>
        <% end %>
			</ol>
		</div>
		<div class="corners-b"><span></span></div>
	</div>

	<div class="info">
		<div class="corners-t"><span></span></div>
		<div class="info-in">
			<h3>Полезные ссылки</h3>
			<ul>
				<li>&gt;&gt;<a href="#">Форум mp3</a></li>
				<li>&gt;&gt;<a href="#">Как залить мп3?</a></li>
				<li>&gt;&gt;<%= link_to "Контакты", stat_path("rules") %></li>
				<li>&gt;&gt;<a href="#">Статистика</a></li>
				<li>&gt;&gt;<a href="#">Реклама на сайте</a></li>
				<li>&gt;&gt;<%= link_to "Контакты", stat_path("contacts") %></li>
			</ul>
		</div>
		<div class="corners-b"><span></span></div>
	</div>

	<div class="tag-cloud">
		<ul>
<%= show_tag_could %>
		</ul>
	</div>


</div>

