<ul>
	<li class="forum"><%= link_to "Список mp3", "" %></li>
	<li class="forum"><%= link_to "Новости", "" %></li>
	<li class="forum"><%= link_to "Плейлист", playlists_path %></li>
	<li class="forum"><%= link_to "О нас", "" %></li>
	<li class="forum"><%= link_to "Реклама", "" %></li>
</ul>
