<ul>
	<li class="forum"><%= link_to "Список mp3", tracks_path %></li>
	<li class="forum"><%= link_to "Новости", news_items_path %></li>
	<li class="forum"><%= link_to "Плейлист", playlists_path %></li>
	<li class="forum"><%= link_to "О нас", stat_path("about") %></li>
	<li class="forum"><%= link_to "Реклама", "" %></li>
</ul>
