<% form_tag 'searches', :method => :get do %>
	<fieldset>
		<legend>Поиск mp3</legend>

    <p class="subject dotted">
			<label for="search-mp3" class="selected" id="label_search-mp3">
        <input name="model" id="search-mp3" value="track" type="radio" checked="checked" />
				<span>Поиск mp3</span></label>
			<label for="search-in-news" id="label_search-in-news">
        <input name="model" id="search-in-news" value="news_item" type="radio"/>
				<span><a href="#">Новости</a></span></label>
			<label for="search-playlist" id="label_search-playlist">
        <input name="model" id="search-playlist" value="playlist" type="radio" />
				<span><a href="#">Плейлисты</a></span></label>
		</p>


		<fieldset class="search-string">
			<div>
				<div class="input"><%= text_field_tag "search_string","" , :class => "search-string" %></div>
        <%= submit_tag "", :class => "search", :title => "Найти", :id => "submit_search_form" %>
			</div>
		</fieldset>

	<ul class="caracters-nav">
    <% for elem in [('a'..'z').to_a, (0..9).to_a].flatten %>
    <li><%= link_to elem, searches_path(:model => :track, :char => elem) %></li>
    <% end %>
	</ul>

	<ul class="languages">
		<li class="selected" id="en">En</li>
		<li id="ru"><a href="#">Ру</a></li>
	</ul>

	<div id="checkboxes">
		<p class="checkboxes">
			<label for="everywhere"><%= check_box_tag "everywhere", "yes", :checked => true %>Везде</label>
			<label for="executive"><%= check_box_tag "author", "yes" %>По исполнителю</label>
			<label for="name"><%= check_box_tag "title", "yes" %>По названию</label>
		</p>
	</div>

</fieldset>
<% end -%>

