<div id="search_track">
<% form_tag 'searches', :method => :get do %>
  <%= text_field_tag "search_track" %><br />
Везде: <%= check_box_tag "everywhere", "yes", :checked => true %><br />
По автору: <%= check_box_tag "author", "yes" %><br />
По заголовку<%= check_box_tag "title", "yes" %><br />
  <%= hidden_field_tag "model", "track" %>

<% if current_user -%>
  <%= hidden_field_tag "u", current_user.id %>
<% end -%>

  <%= submit_tag "Найти" %>
<% end -%>
</div>

