<div id="search_track">
<% form_tag 'searches', :method => :get do %>
  <%= text_field_tag "search_track" %><br />
Везде: <%= radio_button_tag "attribute", "everywhere", :checked => true %><br />
По автору: <%= radio_button_tag "attribute", "author" %><br />
По заголовку<%= radio_button_tag "attribute", "title" %><br />
  <%= hidden_field_tag "model", "track" %>
  <%= submit_tag "Найти" %>
<% end -%>
</div>

