<ul class="user-menu dotted">
<% if current_user -%>
<li><%= link_to I18n.t("balance"), payments_path %></li>
<li><a href="#">Мои mp3</a></li>
<li><%= link_to "Мои плейлисты", admin_playlists_path %></a></li>
<li><a href="#">Добавить mp3</a></li>
<li><a href="#">Создать плейлист</a></li>
<li><%= link_to "Корзина (#{current_user.cart_tracks.size})", cart_path %></li>
<li><a href="#" class="close"></a></li>
<% else -%>
<li><%= link_to I18n.t("register"), signup_path %></li>
<li><%= link_to I18n.t("login"), login_path, :class => "js_link", :data_size => "250x800" %></li>
<% end -%>
</ul>

