%p
  Название сервера: #{form.text_field :name}
%p
  IP: #{form.text_field :ip}
%p
  Доменное имя: #{form.text_field :domainname}
%p
  Секретное слово: #{form.text_field :community}
%p
  Описание сервера: #{form.text_area :description}
