<table border="1">
  <tr>
    <td> Сервер хранения mp3
      <% if @local.master == true %>
        <%= radio_button_tag(:server, @local.id, checked = true, :id => "server_0")  %>
      <% else  %>
        <%= radio_button_tag(:server, @local.id, checked = false, :id => "server_0")  %>
      <% end %>
    </td>
  </tr>
  </tr>
  <tr><td><h3>Дисковая подсистема</h3></td></tr>
  <tr><td><%= image_tag admin_servers_stat_path :image => "diskio.png"%></td></tr>
  <tr><td><h3>Сеть</h3></td></tr>
  <tr><td><%= image_tag admin_servers_stat_url :image => "network.png" %></td></tr>
</table>
<hr />

<% unless @satellites.blank? %>
  <% form_tag newmaster_admin_satellites_url, :method => :post do %>
    <% @satellites.each_with_index do |satellite, index| %>
      <%= render :partial => "satellite", :locals => {:satellite => satellite, :index => index} %>
    <% end %>
    <%= submit_tag "Выбрать новый сервер" %>
  <% end %>
<% end %>

<%= link_to "Добавить новый сервер", new_admin_satellite_url %>
