= form.inputs do
  = form.input :code, :as => :select,
                :collection => @countries.map{|v| "<option value='#{v.last}' #{ v.last == resource.try(:code) ? 'selected' : '' }>#{v.first}</option>"}.join
  = form.input :cost
