<%= _title I18n.t("edit_cost_country") %>
<h1><%= I18n.t("edit_cost_country") %></h1>
<%= link_to "back", collection_path %>
<% semantic_form_for [:admin, :gateway, resource],:url => resource_path,  :method => :put do |form| %>
<%= render :partial => 'form', :object => form %>
<% form.buttons :class => "create_button" do -%>
<%= form.commit_button I18n.t("admin.countries.update_country") %>
<% end -%>
<% end -%>
