<%= _title I18n.t("new_cost_country") %>
<h1><%= I18n.t("new_cost_country") %></h1>
<%= link_to "back", collection_path %>
<% semantic_form_for [:admin, :gateway, resource] do |form| %>
<%= render :partial => 'form', :object => form %>
<% form.buttons :class => "create_button" do -%>
<%= form.commit_button I18n.t("admin.countries.create_country") %>
<% end -%>
<% end -%>

