<td>
  <ul>
    <li>Пользователь: <i><%= tender.user.try(:login) %></i></li>
    <li>Дата: <i><%= l(tender.created_at, :format => :long) %></i></li>
    <li>Статус: <i><%= tender.tender_state %></i></li>
  </ul>
</td>
<td>
  <p class="comment">
    <%= tender.link.to_s.split.map{|x| x.mb_chars.length > 120 ? x.mb_chars.scan(/\w{120}/) : x.mb_chars }.join(' ') %>
  </p>
</td>

<td>
  <% if tender.tender_state.to_s == "moderation" %>
  <ul>
    <li><%= link_to "Одобрить", accept_admin_order_tender_path(order, tender)  %></li>
    <li><%= link_to "Отменить", deny_admin_order_tender_path(order, tender) %></li>
  </ul>
  <% end %>
</td>

