<ul class="catalog dotted">
  <li class="selected">
    <%= link_to "Заказ №#{@order.id}", admin_order_path(@order) %>
  </li>
</ul>

<table class="orders">

  <tr>
    <td>
      <ul>
        <li> Пользователь: <i><%= @order.user.try(:login) %></i></li>
        <li>Дата: <i><%= l(@order.created_at, :format => :long) %></i></li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Испонитель: <i><%= @order.author %></i></li>
        <li>Название: <i><%= @order.title %></i></li>
        <li>Музыка: <i><%= @order.music %></i></li>
        <li>Язык: <i><%= @order.language %></i></li>
        <li>Пол: <i><%= @order.floor %></i></li>
      </ul>

    </td>
  </tr>
  <tr>
    <td colspan=3>
      Дополнительная информация: <i>
        <%= @order.more.to_s.split.map{|x| x.mb_chars.length > 120 ? x.mb_chars.scan(/\w{120}/) : x.mb_chars }.join(' ') %>
      </i>
    </td>
  </tr>

  <% @order.tenders.each do |t|%>
  <tr class="sub tender" >
    <%= render :partial => "tender", :object => t, :locals => {:order => @order } %>
  </tr>
  <% end %>

</table>

