<% form_for @archive, :html => {:id => "cart"} do |f| %>

<div id="link"><%= render :partial => "archives/archive_link" if session[:archive] %></div>
<ul class="catalog dotted">
  <li class="selected"><a href="#" />Корзина</a></li>
</ul>

<%= hidden_field_tag "delete_tracks", "off", :id => "on_off_delete_tracks" %>
<!--
    <div class="p-c-buttons2">
      <%= submit_tag "Создать архив для скачивания", :id => "create_archive", :class => "buttons2 left" %>
      <%= submit_tag "Удалить выбранные", :name => "delete", :id => "delete_tracks", :class => "buttons2 right" %>
</div>
-->
<div class="new-popular">
  <div class="corner-r"></div>
  <div id="result"></div>
  <div id="your_link"></div>
  <% unless @tracks.blank? %>
  <div><%= link_to "Выделить все", "", :class => "select-all-check", :"data-check_name" => "track_ids[]" %> </div>
  <% end %>
  <table id="tracks" class="mp3-list">

    <div id="mytracks">
      <% @tracks.each_with_index do |track, index| %>
         <%= render :partial => "tracks/track", :locals => {:track => track, :index => index, :count_downloads => false} %>
      <% end %>
    </div>

  </table>

  <div class="corner-lb"><span></span></div>

</div>

<div class="right">
  <%= submit_tag "Создать архив для скачивания", :id => "create_archive" %>
  <%= submit_tag "Удалить выбранные", :name => "delete", :id => "delete_tracks" %>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">

  $(function(){
     $('input:checkbox').click(function() {
        var buttonsChecked = $('input:checkbox:checked');
        if (buttonsChecked.length) {
          $('#create_archive').removeAttr('disabled');$('#delete_tracks').removeAttr('disabled');
        } else {
          $('#create_archive').attr('disabled', 'disabled');$('#delete_tracks').attr('disabled', 'disabled');
        }
      });

    $("#delete_tracks").click(function () {
      $("#cart").attr({action: "/delete_from_cart"});
      $("#on_off_delete_tracks").attr({value: "on"});
      $("#mytracks").html("");
    });

    $("#create_archive").click(function () {
      $("#cart").attr({action: "/archives"});
      $("#on_off_delete_tracks").attr({value: "off"});
    });

    $("#cart").submit(function(){
      $("#flash").html("");
       $.ajax({
             "url": $(this).attr('action')+'.js',
            "data": $(this).serialize(),
            "type": "POST",
         "success": function(data) { },
          });
          $("#link").html("");
       return false;
    });
  });
</script>

