<div id="leftcol">
  <h3>Детали аккаунта</h3>

  <%= form_for(@user) do |f| %>
  <%= f.error_messages %>
  <div id="row">
    <h3><%= f.label "wmz кошелёк" %></h3>
    <%= f.text_field :webmoney_purse %>
  </div>
  <%= f.submit_tag "Добавить wmz", :class => "submit" %>
  <% end %>

  <%= form_for(@user) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <%= f.submit_tag "Сменить email", :class => "submit" %>
  <% end %>
</div>

<div id="rightcol">
  <%= form_for(@user) do |f| %>
  <%= render :partial => "password_resets/form", :locals => {:f => f} %>
  <%= submit_tag "Сменить", :class => "submit" %>
  <% end %>
</div>

