<h2><%= I18n.t("signup") %></h2>

<% semantic_form_for @user do |form| %>
<% form.inputs do %>
<%= form.input :login, :required => true %>
<%= form.input :email, :required => true %>
<%= form.input :password, :required => true %>
<%= form.input :password_confirmation, :required => true %>
<%= form.input :icq %>
<%= form.input :webmoney_purse %>
<% end -%>

<% form.inputs do %>
<%= form.captcha_challenge %>
<%= form.captcha_field %>
<%= form.errors_on(:captcha_solution) %>
<% end -%>

<% form.buttons :class => "register_button" do -%>
<%= form.commit_button I18n.t("register") %>
<% end -%>

<% end -%>



