%tr
  %td
    ID: #{block_users.id}
  %td
    login: #{link_to block_users.login, account_url(:id => block_users.id)}
  %td
    email: #{block_users.email}
  %td
    balance: #{link_to block_users.balance, user_transaction_admin_user_transactions_url(:user_id => block_users.id)}
  %td
    last_login_ip: #{block_users.last_login_ip}
  %td
    current_login_ip: #{block_users.current_login_ip}
  %td
    Добавил: #{block_users.tracks.count}
  %td
    Скачал: #{block_users.total_download}
  %td
    Роль: #{block_users.get_roles}
  %td= link_to 'Редактировать', edit_admin_user_url(:id => block_users.id)
  %td= link_to 'Удалить', admin_user_url(:id => block_users.id), :method => :delete, :confirm => "Вы действительно желаете удалить пользователя?"
  %td
    - if block_users.ban == false
      = link_to 'Забанить', block_admin_user_url(:id => block_users.id)
    - else
      = link_to 'Разбанить', unblock_admin_user_url(:id => block_users.id)
