
  <tr>
    <td>ID: <%= block_user.id %></td>
    <td>login: <%= link_to block_user.login, account_url(:id => block_user.id) %></td>
    <td>email: <%= block_user.email %></td>
    <td>balance: <%= link_to block_user.balance, user_transaction_admin_user_transactions_url(:user_id => block_user.id) %></td>
    <td>last_login_ip: <%= block_user.last_login_ip %></td>
    <td>current_login_ip: <%= block_user.current_login_ip %></td>
    <td>Добавил: <%= block_user.tracks.count %></td>
    <td>Скачал: <%= block_user.total_download %></td>
    <td>Роль: <%= block_user.get_roles %></td>
    <td><%= link_to 'Редактировать', edit_admin_user_url(:id => block_user.id) %></td>
    <td><%= link_to 'Удалить', admin_user_url(:id => block_user.id), :method => :delete, :confirm => "Вы действительно желаете удалить пользователя?" %></td>
    <td>
      <% if block_user.ban == false %>
        <%= link_to 'Забанить', block_admin_user_url(:id => block_user.id) %>
      <% else %>
        <%= link_to 'Разбанить', unblock_admin_user_url(:id => block_user.id) %>
      <% end %>
    </td>
  </tr>

