<tr>
  <td>Date: <%= block_transaction.date_transaction %></td>
  <td>type payment: <%= block_transaction.type_payment %></td>
  <td>type_transaction: <%= block_transaction.type_transaction %></td>
  <td>login: <%= block_transaction.user.login %></td>
  <td>Amount: <%= block_transaction.amount %></td>
</tr>

