
  <tr>
    <td>login: <%= block_user.login %></td>
    <td>email: <%= block_user.email %></td>
    <td>balance: <%= block_user.balance %></td>
    <td>last_login_ip: <%= block_user.last_login_ip %></td>
    <td>current_login_ip: <%= block_user.current_login_ip %></td>
    <td>ID: <%= block_user.id %></td>
  </tr>

