%tr
  %td
    ID: #{block_playlist.id}
  %td= link_to block_playlist.title, playlist_url(:id => block_playlist.id)
%tr
  %td{:colspan => "2"}= block_playlist.description
%tr
  %td= link_to 'Редактировать', edit_admin_playlist_url(:id => block_playlist.id)
  %td= link_to 'Удалить', admin_playlist_url(:id => block_playlist.id), :method => :delete
