
  <tr>
    <td>login: <%= block_user.login %></td>
    <td>email: <%= block_user.email %></td>
    <td>balance: <%= block_user.balance %></td>
    <td>Ip: <%= block_user.ip %></td>
    <td>ID: <%= block_user.id %></td>
  </tr>

