<tr>
  <td><%= check_box_tag("track", value = "#{block_mp3.id}")  %></td>
  <td><%= link_to block_mp3.title, track_url(:id => block_mp3.id) %></td>
  <td>author: <%= block_mp3.author %></td>
  <td>bitrate: <%= block_mp3.bitrate %></td>
  <td>dimension: <%= block_mp3.dimension %></td>
  <td>state: <%= block_mp3.state %></td>
</tr>

