<tr>
  <td>ID: <%= block_news_item.id %></td>
  <td><%= link_to block_news_item.header, news_item_url(:id => block_news_item.id) %></td>
</tr>
<tr>
  <td colspan="2"><%= block_news_item.text %></td>
</tr>
<tr>
  <td><%= link_to 'Редактировать', edit_admin_news_item_url(:id => block_news_item.id) %></td>
  <td><%= link_to 'Удалить', admin_news_item_url(:id => block_news_item.id), :method => :delete %></td>
</tr>

