<% content_for :title do %>
<%= @title %>
<% end -%>

<h1>Admin::Transaction</h1>
<div id="form_transaction">
<% form_tag '/admin/searches', :method => :get do -%>
  <p>  C<label for="transaction_start_transaction">start_date</label>
<%= date_select("transaction", "start_transaction", :start_year => 2005)  %>
  по
<label for="transaction_end_transaction">end_date</label>
  <span id="end_date"><%= date_select("transaction", "end_transaction", :start_year => 2005) %></span>
  </p>

<p>     По типу транзакции: <%= radio_button_tag("attribute", "type_transaction")  %>
     <%= select("transaction", "select_type_transaction", {"Доход" => "1", "Расход" => "2"}) %></p>
<hr />
<p>     По кошельку: <%= radio_button_tag("attribute", "webmoney_purs")  %><br />
Больше значения: <%= radio_button_tag("webmoney_purs", "more") %><br /> Меньше значения: <%= radio_button_tag("webmoney_purs", "less") %><br /> Равно значению: <%= radio_button_tag("webmoney_purs", "well") %>
</p>
<hr />
<p>По способу (sms, webmoney): <%= radio_button_tag("attribute", "type_payment") %>
<%= select("transaction", "select_type_payment", {"webmoney" => "1", "sms" => "2"}) %></p>

<p>    По пользователю(login): <%= radio_button_tag("attribute", "login")  %></p>
     <%= hidden_field_tag("model", "transaction") %>
<p>Инпут поиска: <%= text_field_tag("search_transaction") %></p>

  <p><%= submit_tag "Найти" %></p>
<% end -%>

</div>

