<% content_for :title do %>
<%= @title %>
<% end -%>

<h1>Admin::Search playlists</h1>
<div id="form_playlist">
<% form_tag '/admin/searches', :method => :get do -%>
<p>Title: <%= radio_button_tag("attribute", "title", checked = true)  %></p>
<p>     ID: <%= radio_button_tag("attribute", "id")  %></p>
<p>     User login: <%= radio_button_tag("attribute", "login")  %></p>
     <%= hidden_field_tag("model", "playlist") %>
<p>            Инпут поиска: <%= text_field_tag("search_string") %></p>
  <p><%= submit_tag "Найти" %></p>
</div>
<% end -%>

