<%= _title @title %>

<h1><%= I18n.t("admin.search.mp3.title") %></h1>
<div id="form_track">

<% form_tag admin_searches_path, :method => :get do -%>
<div>
  <span><%= I18n.t("admin.search.mp3.field_track") %></span>
  <ul class="list_inline">
    <li><%= radio_button_tag("attribute", "title", checked = true)  %><%= I18n.t("admin.search.mp3.title_song") %>:</li>
    <li><%= radio_button_tag("attribute", "id")  %><%= I18n.t("admin.search.mp3.id") %></li>
    <li><%= radio_button_tag("attribute", "bitrate") %><%= I18n.t("admin.search.mp3.bitrate") %></li>
    <li><%= radio_button_tag("attribute", "more") %><%= I18n.t("admin.search.mp3.file_size_more") %></li>
    <li><%= radio_button_tag("attribute", "less") %><%= I18n.t("admin.search.mp3.file_size_less") %></li>
    <li><%= radio_button_tag("attribute", "well") %><%= I18n.t("admin.search.mp3.file_size_well") %></li>
    <li><%= radio_button_tag("attribute", "login") %><%= I18n.t("admin.search.mp3.user") %></li>
    <li><%= radio_button_tag("attribute", "author") %><%= I18n.t("admin.search.mp3.author") %></li>
    <%= hidden_field_tag("model", "track") %>
</ul>
  <span> <%= I18n.t("admin.search.mp3.status") %>:</span>
  <ul class="list_inline">
  <li><%= radio_button_tag "state", "all", :checked => "true" %><%= I18n.t("admin.search.mp3.all") %></li>
  <li><%= radio_button_tag "state", "active" %><%= I18n.t("admin.search.mp3.active") %></li>
  <li><%= radio_button_tag "state", "moderation" %><%= I18n.t("admin.search.mp3.moderation") %></li>
  <li><%= radio_button_tag "state", "banned" %><%= I18n.t("admin.search.mp3.banned") %></li>
</ul>

</div>
<div>
	<fieldset class="search-string">
		<div>
			<div class="input"><%= text_field_tag "search_string","" , :class => "search_track" %></div>
      <%= submit_tag "", :class => "search", :title => "Найти", :id => "submit_search_form" %>
		</div>
	</fieldset>
</div>
<% end -%>
</div>

