<% content_for :title do %>
<%= @title %>
<% end -%>

<h1>Admin::User</h1>
<% form_tag '/admin/searches', :method => :get do -%>
  <p>Login: <%= radio_button_tag("attribute", "login", checked = true)  %><br />
     email: <%= radio_button_tag("attribute", "email")  %><br />
            Кошельку: <%= radio_button_tag("attribute", "balance")  %><br />
     ip: <%= radio_button_tag("attribute", "ip")  %><br />
     id: <%= radio_button_tag("attribute", "id")  %><br />
            Инпут поиска: <%= text_field_tag("search_string") %></p>
     <%= hidden_field_tag("model", "user") %>
  <p><%= submit_tag "Найти" %></p>
<% end -%>

