- title @title
= render :partial => "search_#{@partial}"
- if @results.present?
  = will_paginate @results, :class => "right", :renderer => ListLinkNewsitem
  %table.mp3-list
    - if @partial == "tracks"
      = form_tag complete_admin_tracks_path, :method => :put do
        %tr
          %td{:colspan => "8"}
            = submit_tag "Забанить", :name => "banned"
            = submit_tag "Одобрить", :name => "active"
            = submit_tag "Удалить", :name => "delete"
        = render :partial => "admin/tracks/track", :collection => @results
    - elsif @partial[/playlists|news|users|transactions/]
      = render :partial => "block_#{@partial}", :collection => @results
  = will_paginate @results, :class => "right", :renderer => ListLinkNewsitem

- else
  По вашему запросу ничего не найденно
