<% content_for :title do %>
<%= @title %>
<% end -%>

<h1>Admin::News_items</h1>
<% form_tag '/admin/searches/user' do -%>
  <p>Login: <%= radio_button_tag("attribute", "login", checked = true)  %><br />
     email: <%= radio_button_tag("attribute", "email")  %><br />
            Кошельку: <%= radio_button_tag("attribute", "balance", :disable => true)  %><br />
     ip: <%= radio_button_tag("attribute", "ip", :disable => true)  %><br />
     id: <%= radio_button_tag("attribute", "id", :disable => true)  %><br />
            Инпут поиска: <%= text_field_tag("search_string") %></p>
  <p><%= submit_tag "Найти" %></p>
<% end -%>

<% unless @rez_search.nil? or @rez_search.empty? -%>
  <table class="">
    <%= render :partial => 'block_user', :collection => @rez_search %>
  </table>
<% else -%>
  <%= @title %>
<% end %>

