%ul.main_menu
  %li= link_to "Главная", root_path
  %li= link_to "Плейлисты", playlists_path
  %li= link_to 'Новости', news_items_path
  %li= link_to 'Стол заказов', orders_path
  %li= link_to 'Топ mp3', top_downloads_path
