%ul
  %li.forum= link_to "Список mp3", tracks_path
  %li.forum= link_to "Новости", news_items_path
  %li.forum= link_to "Плейлист", playlists_path
  %li.forum= link_to I18n.t("about"), stat_path("about")
  %li.forum= link_to I18n.t("advertising"), stat_path("advertising")
