%li.dotes
  %dl.n
    %dd.photo
      - if last_news.avatar_file_name
        = image_tag last_news.avatar.url(:original)
    %dt.title
      = link_to last_news.header, news_item_url(:id => last_news.id), :class => "title"
    %dd.descr
      = simple_format(last_news.description)
    %dd.more= link_to 'читать', news_item_url(:id => last_news.id), :class => "more"
    %dd.autor
      %p.photo
        %a{:href => "#"}
          = last_news.newsimages.size
          Фото
      %p.comments
        %a{:href => "#"}
          (#{last_news.comments_count})
