%h3.red Новые плейлисты
%ul.top-playlist.top-playlist-index
  - playlists.each do |playlist|
    %li
      %dl
        %dd.photo
          - if playlist.icon?
            = link_to(image_tag(playlist.icon.url(:thumb)), playlist_url(:id => playlist.id), :class => "name" )
          - else
            = link_to(image_tag("/images/playlists/default_thumb.gif"), playlist_url(:id => playlist.id), :class => "name" )
        %dd.name= link_to playlist.title, playlist_url(:id => playlist.id), :class => "name"
        %dd.autor
          Автор:
          %span= playlist.user.try(:login)
        %dd
          Песен - #{playlist.tracks.size}
        %dd
          Комментариев - #{playlist.comments_count}
        %dd
          Создан - #{playlist.created_at}
