<ul class="catalog dotted">
  <li class="<%= 'selected' if params[:state].to_s =~ /fresh/ || params[:state].blank? %>">
    <%= link_to( "Новые MP3", root_tracks_path(:fresh), :remote => true )  %>
  </li>
  <li class="<%= 'selected' if params[:state].to_s =~ /top/ %>">
    <%= link_to( "Топ MP3", root_tracks_path(:top), :remote => true )  %>
  </li>
</ul>

<p class="all-list dotted"><%= link_to "Весь список", tracks_path %></p>


<%= render :partial => "tracks/list", :locals => {:count_downloads => false, :paginate => false} %>

