<ul class="catalog dotted">
	<li class="selected"><%= link_to "Новые MP3", new_mp3_tracks_path %></li>
	<li><%= link_to "Топ MP3", top_mp3_tracks_path %></li>
</ul>
<p class="all-list dotted"><%= link_to "Весь список", tracks_path %></p>

<div class="new-popular">
  <div class="corner-r"></div>
  <%= render :partial => "tracks/list", :locals => {:count_downloads => false, :paginate => false} %>
	<div class="corner-lb"><span></span></div>
</div>

<h3 class="red">Последние новости</h3>
<ul class="news">
  <%= render :partial => 'last_news', :collection => @last_news_items %>
</ul>

