<%= render :partial => 'tracks/top_new_changer' %>
<p class="all-list dotted"><%= link_to "Весь список", tracks_path %></p>

<% if current_user -%>
  <div class="p-c-buttons">
    <button type="single_button" id="to_playlist_button" style="float: right;" class="buttons2 right">В плейлист</button>
    <button type="single_button" id="to_cart_button" style="float: left;" class="buttons2 right">В корзину</button>
  </div>
<% end -%>


<div class="new-popular">
  <%= render :partial => "tracks/list", :locals => {:count_downloads => false, :paginate => false} %>
	<div class="corner-lb"><span></span></div>
</div>

<h3 class="red">Последние новости</h3>
<ul class="news">
  <%= render :partial => 'last_news', :collection => @last_news_items %>
</ul>

<h3 class="red">Новые плейлисты</h3>
<ul class="top-playlist top-playlist-index">
  <%= render :partial => 'playlists/playlist_on_main', :collection => @playlists %>
</ul>

