<tr>
  <td><a class="autor"><%= notfound.user.login %></a><%= notfound.created_at %></td>
  <td>
    <p>Испонитель: <i><%= notfound.author %></i></p>
    <p>Название: <i><%= notfound.title %></i></p>
    <p>Музыка: <i><%= notfound.music %></i></p>
    <p>Язык: <i><%= notfound.language %></i></p>
    <p>Пол: <i><%= notfound.floor %></i></p>
    <p>
      Дополнительная информация:  <i><%= notfound.more.to_s.split.map{|x| x.mb_chars.length > 120 ? x.mb_chars.scan(/\w{120}/) : x.mb_chars }.join(' ') %></i>
    </p>
    <p class="order-menu">
      <% if notfound.state == "notfound" && current_user.id != notfound.user_id %>
      <%= link_to "добавить", new_order_tender_url(:order_id => notfound.id), :class => "add" %>
      <% end %>

      <%= link_to "#{notfound.tenders.count} ответов", order_url(:id => notfound.id), :class => "all-answ" %>
    </p>
    <p class="hide-sub">
      <!-- <a href="#" class="hide-sub">скрыть</a> -->
    </p>
  </td>
  <td class="number">№ <a href="#"><%= notfound.id %></a></td>
</tr>

<%= render :partial => "orders/tender", :collection => notfound.tenders.find(:all, :order => "created_at DESC") %>
