<tr id="order_<%= index+1 %>">
  <td id="order_<%= index+1 %>_title"><%= link_to order.title, order, :id => "order_link" %></td>
  <td id="order_<%= index+1 %>_author"><%= order.author %></td>
  <td id="order_<%= index+1 %>_state"><%= I18n.t("orders.states.#{order.state}") %></td>
  <td id="order_<%= index+1 %>_user"><%= link_to order.user.login, order.user %></td>

  <td id="manage_links">
    <%= link_to I18n.t("edit"), edit_order_path(order), :title => I18n.t("edit"), :id => "order_edit" if permitted_to?(:update, order) %>
    <%= link_to I18n.t("delete"), order_path(order), :confirm => I18n.t("a you sure?"), :method => :delete, :id => "order_delete" if permitted_to?(:delete, order) %>
  </td>
  <% unless order.found? %>
    <td><%= link_to "Я нашел", new_order_tender_path(order), :id => "order_complete" if permitted_to?(:create, :orders) %></td>
  <% end %>
</tr>

