<h4><%= I18n.t("withdraw.title") %></h4>
<% semantic_form_for "withdraw", :url => withdraws_path, :html => {:class => "base_form", :id => "withdraw_form"} do |form| %>
<%= flash[:amount_error] %>
<% form.inputs  do -%>
<div id="error_message"></div>
<%= form.input :amount, :wrapper_html => {:class => "base_form" }, :label => I18n.t("payments.amount") %>
<% end -%>
<% form.buttons do -%>
<%= form.commit_button I18n.t('continue'), :class => "base_buttons" %>
<%= link_to I18n.t("cancel"), payments_path %>
<% end -%>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
   $("#withdraw_form").submit(function(){
    var parent_element = $(this).parent("div");
     $.ajax({
           "url": $(this).attr('action')+'.js',
          "data": $(this).serialize(),
          "type": "POST",
       "success": function(data){ $(".content:first").html(data) },
         "error": function(result) { $("#error_message").html(result.responseText); },
        });
     return false;
   });
  });
</script>
