<tr>
  <td>ID: <%= block_news.id %></td>
  <td>Комментариев: <%= block_news.comments.size %></td>
  <td>Дата: <%= block_news.created_at %></td>
  <td><%= link_to block_news.header, news_item_url(:id => block_news.id) %></p></td>
</tr>
<tr>
  <td colspan="4"><%= block_news.text %></td>
</tr>

