<ul class="all-news2">
  <% for item in items %>
						<li class="<%= !@first ? 'first': (@first = true && '') %>">
							<dl>
								<dd class="title"><%= link_to item.header , news_item_url(item), :class => "title" %></dd>
                  <% if item.avatar? -%>
			            	<dd class="photo">
			            	  <%= link_to image_tag(item.avatar.url), news_item_url(item) %>
			            	</dd>
                  <% end %>
								<dd class="red autor"><p class="date"><a href="#"><%= item.created_at.to_s %></a></p><p class="autor"><a href="#"><%= item.user.try(:login) %></a></p> <p class="comments"><a href="#">(<%= item.comments.size %>)</a></p> <p class="photo"><a href="#"><%= item.newsimages.size %> Фото</a></p></dd>
								<dd class="body"><%= item.description %></dd>
									<%= link_to 'читать', news_item_url(:id => item.id), :class => "more" %>
								<dd class="tags">
									<p class="caption">Тэги:</p>
									<p class="tags"><%= tags(item) %></p>
								</dd>
							</dl>
						</li>

  <% end %>
</ul>

