
					<ul class="catalog dotted">
						<li class="selected"><a href="#">Новости</a></li>
					</ul>
					<p class="all-list dotted news">
<%= link_to 'Популярные', news_items_url(:attr => "popular") %>
<%= link_to 'Новые', news_items_url(:attr => "new") %>
<%= link_to 'Все', news_items_url(:attr => "all") %>
					</p>

					<ul class="all-news">
  <%= render :partial => 'block_news', :collection => @news %>
					</ul>

<div class="navigation">
  <%= will_paginate @news, :renderer => ListLinkNewsitem, :next_label => "Вперёд >>", :previous_label => "<< Назад ", :class => "right" %>
</div>

