<%= render :partial => 'head' %>
<h1><%=h @news.header %></h1>
<p><%= @news.text %></p>


<h2>Комментарии</h2>
<table id="comments">
  <tr>
    <th>Автор</th>
    <th>Название</th>
    <th>Комментарий</th>
  </tr>





<% unless @comments.blank? -%>
  <%= will_paginate @comments %>
    <table class="">
      <%= render :partial => "news_items/comment", :collection => @comments %>
    </table>
  <%= will_paginate @comments %>
<% end -%>



</table>

<% if current_user -%>
  <h2>Добавить комментарий</h2>
    <% semantic_form_for [:admin, @news.comments.build] do |f| %>
    <%= hidden_field_tag :switch, "news_item" %>
    <%= hidden_field_tag :object_id, @news.id %>
    <%= render :partial => 'admin/comments/form', :locals => {:f => f} %>
  <% end %>
<% end -%>

