

<%= render :partial => 'head' %>
<div class="inside-news">
						<dl class="news-inside">
							<dd class="title"><a href="#" class="title"><%=h @news.header %></a></dd>
							  <% if @news.avatar? -%>
							    <dd class="photo">
							        <a href="#"><%= image_tag(@news.avatar.url(:original)) %></a>
							    </dd>
							  <% end -%>
							<dd class="red autor"><p class="date"><a href="#"><%= @news.created_at %></a></p><p class="autor"><a href="#"><%= @news.user.login %></a></p> <p class="comments"><a href="#">(<%= @news.comments_count %>)</a></p>



	<% unless @news.newsimages.blank? -%>
	  <p class="photo">
  	  <a href="#"><%= @news.newsimages.size %> Фото</a>
    </p>
	<% end -%>

							</dd>
							<dd class="body">
<%= @news.text %>
							</dd>
						</dl>
<% unless @news.newsimages.empty? -%>
<%= render "templates/highslide" %>
  <div class="highslide-gallery" style="width: 600px; margin: auto">
    <ul class="news-photo">
        <%= render :partial => 'image', :collection => @news.newsimages %>
    </ul>
  </div>
<% end -%>
  <div class="tags">
  	<p class="caption">Тэги:</p>
  	<p class="tags"><%= tags(@news) %></p>
  </div>
</div>

<% if current_user -%>
  <% form_for @news.comments.build, :url => admin_comments_path, :html => { :class => "add-comment" } do |f| %>
  <%= hidden_field_tag :switch, "news_item" %>
  <%= hidden_field_tag :object_id, @news.id %>
  <%= render :partial => 'admin/comments/form', :locals => {:f => f} %>
<% end %>

<% unless @comments.blank? -%>
  <table class="comments-list">
    <%= render :partial => "news_items/comment", :collection => @comments %>
  </table>
<% end -%>

<% end -%>

