= form_tag arhives_carts_path, :id => "cart" do
  %ul.catalog.dotted
    %li.selected
      %a{:href => "#"} Корзина
  .new-popular
    .corner-r
    #result
      #link= render :partial => "archive_link" if session[:archive]
    #your_link
    - unless @tracks.blank?
      %div
        = link_to "Выделить все", "", :class => "select-all-check", :"data-check_name" => "track_ids[]"
    %table#tracks.mp3-list
      - @tracks.each_with_index do |cart_track, i|
        = render :partial => "track", :locals => {:track => cart_track.track, :index => i, :count_downloads => false}
    .corner-lb
      %span
  .right
    = submit_tag "Создать архив для скачивания", :id => "create_archive"
    = submit_tag "Удалить выбранные", :name => "delete", :id => "delete_tracks"

:javascript
  $(function(){
    $('input:checkbox').click(function() {
      var buttonsChecked = $('input:checkbox:checked');
      if (buttonsChecked.length) {
        $('#create_archive').removeAttr('disabled');$('#delete_tracks').removeAttr('disabled');
      } else {
        $('#create_archive').attr('disabled', 'disabled');$('#delete_tracks').attr('disabled', 'disabled');
      }
    });

    $("#delete_tracks").click(function () {
      $.ajax({
         type: 'DELETE',
          url: "#{carts_path(:js)}",
         data: $("#cart").serialize()
         });
      return false;
    });

    $("#create_archive").click(function () {
      $.ajax({
          type: 'POST',
           url: "#{arhives_carts_path(:js)}",
          data: $("#cart").serialize()
          });
      return false;
    });
  });
