<tr>
<p>  <%= form.error_messages %></p>
  <% form.inputs do -%>
<p>    <%= form.input :header %></p>
<p>Картинка на превью новости: <%= form.file_field :avatar %></p>
<p>    <%= form.input :description %></p>
<p>Убрать визуальный редактор    <%= check_box_tag "editor_disable" %></p>
<p>    <%= form.cktext_area :text,
      :swf_params => {:assetable_type => 'News' }, :cols => 10, :rows => 50 %></p>
<p>
      <% Array.new(10).each_index do |index| %>
        <p>
          <%= file_field_tag "newsimage_#{index}[photo]" %>
        </p>
      <% end %>
</p>
<p>    <%= form.input :meta %></p>
  <% end -%>
<p>  <%= form.buttons %></p>
</tr>

