= javascript_include_tag :ckeditor
= javascript_include_tag "ckeditor_hidden"
%h1 Edit news
- if @news.avatar?
  Картинка на превью:
  \#{image_tag(@news.avatar.url(:original))}
%table.mp3-list{:border => "1"}
  = semantic_form_for @news, :url => admin_news_item_url, :html => {:multipart => true} do |form|
    = render :partial => 'form', :object => form
- unless @news.newsimages.empty?
  %ul.list
    = render :partial => 'image', :collection => @news.newsimages
