<tr>
  <td><%= track.id %></td>
  <td id="track_<%= index+1 %>_author"><%= link_to track.author, edit_admin_track_path(track), :id => "track_edit", :class => "js_link" %></td>
  <td id="track_<%= index+1 %>_title"><%= link_to track.title, edit_admin_track_path(track), :id => "track_edit", :class => "js_link" %></td>
  <td><%= I18n.t("tracks.states.#{track.state}") %></td>
  <td><%= link_to track.owner, track.user, :class=>"js_link" %></td>
  <td><%= number_to_human_size track.data_file_size %></td>
  <td><%= track.bitrate %> кб/с</td>
  <td id="track_<%= index+1 %>">
    <%= check_box_tag "track_ids[]", track.id %>
  </td>
</tr>

