<ul class="catalog dotted">
	<li class="selected"><%= link_to "Абузы", abuza_admin_tracks_path %></li>
</ul>

<% if @tracks %>
  <table id="tracks" class="mp3-list">
    <% form_tag complete_admin_tracks_path, :method => :put do %>
      <%= render "buttons" %>
      <% @tracks.each_with_index do |track, index| %>
        <%= render :partial => "tracks/track", :locals => {:track => track, :index => index, :count_downloads => false} %>
      <% end %>
    <% end %>
  </table>
  <%= paginate @tracks rescue '' %>
<% end %>

<% if params[:track_links] %>
  <%= link_to "Запомнить", save_in_session_admin_tracks_path(:abuza_track_links => params["track_links"]), :method => :post %>
<% end %>

<% if session[:abuza_track_links] %>
  <%= link_to "Забыть", clear_from_session_admin_tracks_path %>
<% end %>

<% form_tag abuza_admin_tracks_path do %>
  <%= text_area nil, "track_links" %>
  <%= submit_tag "Показать таблицу", :name => "track_links_submit" %>
<% end %>

