- title [I18n.t("admin.roles.edit_role"), resource.title].join(": ")
%ul.catalog.dotted
  %li.selected= link_to I18n.t("admin.roles.title"), collection_path
  %li
    %h1= [I18n.t("admin.roles.edit_role"), resource.title].join(": ")
= semantic_form_for [:admin, resource] do |form|
  = render :partial => 'form', :object => form
  = form.buttons :class => "update_button" do
    = form.commit_button I18n.t("admin.roles.update_role")
