<%= _title I18n.t("admin.roles.title") %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to I18n.t("admin.roles.title"), collection_path %></li>
	<li><%= link_to I18n.t("admin.roles.new_role"), new_resource_path %></li>
</ul>


<table class="basic_table roles_table mp3-list">
  <tr>
    <th><%= I18n.t("id") %></th>
    <th><%= Role.human_attribute_name :title %></th>
    <th><%= I18n.t("admin.roles.admin_access") %></th>
    <th><%= I18n.t("admin.roles.users") %></th>
    <th><%= I18n.t("actions") %></th>
  </tr>
  <% @roles.each do |role| -%>
  <tr>
    <td><%= role.id %></td>
    <td><%= role.title %></td>
    <td><%= I18n.t(Settings[:boolean_display][role.admin?]) %></td>
    <td><%= role.users.count %></td>
    <td>
      <%= link_to I18n.t("edit"), edit_resource_path(role), :id => dom_id(role) %>
      <%= link_to I18n.t("delete"), resource_path(role), :method => :delete, :confirm => "Delete role" unless role.system? %>
    </td>
  </tr>
  <% end -%>
</table>
