- title I18n.t("admin.roles.new_role")
%ul.catalog.dotted
  %li= link_to I18n.t("admin.roles.title"), collection_path, :class => "back"
  %li.selected
    %a{:href => "#"}= I18n.t("admin.roles.new_role")
= semantic_form_for [:admin, resource] do |form|
  = render :partial => 'form', :object => form
  = form.buttons :class => "create_button" do
    = form.commit_button I18n.t("admin.roles.create_role")
