<%= _title I18n.t("admin.roles.new_role") %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to I18n.t("admin.roles.title"), collection_path, :class => "back" %></a></li>
  <li><h1><%= I18n.t("admin.roles.new_role")  %></h1></li>
</ul>

<% semantic_form_for [:admin, resource] do |form| %>
<%= render :partial => 'form', :object => form %>
<% form.buttons :class => "create_button" do -%>
<%= form.commit_button I18n.t("admin.roles.create_role") %>
<% end -%>
<% end -%>
