= title [I18n.t("role"), resource.title].join(": ")
%h1= [I18n.t("role"), resource.title].join(": ")
= link_to I18n.t("list_of_roles"), collection_path
= link_to I18n.t("edit"), edit_resource_path
%table
  %tr
    %td= Role.human_attribute_name :name
    %td= resource.name
  %tr
    %td= Role.human_attribute_name :title
    %td= resource.title
  %tr
    %td= Role.human_attribute_name :system
    %td
      = Settings.boolean_display[resource.system?]
  %tr
    %td= Role.human_attribute_name :description
    %td= h resource.description
