<%= title I18n.t("payments.title") %>
<h1><%= I18n.t("payments.title") %></h1>
<div><%= I18n.t("payments.your_balance") %>: <%= number_to_currency current_user.balance %></div>

<!-- Пополнение баланса -->
<div id="pay_place">
  <h4><%= I18n.t("payments.refill_balance") %></h4>
  <%= link_to "webmoney", webmoney_path, :id => "webmoney_pay" if Gateway.webmoney && Gateway.webmoney.active?  %>
</div>

<!-- Заявка на вывод денег -->
<% if current_user.can_withdraw? -%>
  <div id="withdraw_place">
    <h4><%= I18n.t("payments.withdraw") %></h4>
    <%= link_to "withdraw", new_withdraws_path, :id => "new_withdraw"   %>
  </div>
<% end -%>

<!-- Доходы -->
<h4><%= I18n.t("credits") %></h4>
<table class="basic_table credits_table">
  <%= render :partial => 'table', :object => @credits %>
</table>

<!-- Расходы -->
<h4><%= I18n.t("debits") %></h4>
<hr />
<table class="basic_table debits_table">
  <%= render :partial => 'table', :object => @debits %>
</table>

<hr />
<!-- Выплаты -->
<h4><%= I18n.t("payments.withdraws") %></h4>
<%= render :partial => 'withdraws', :object => @withdraws %>


<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#webmoney_pay").click(function(){ $("#pay_place").load($(this).attr('href')+'.js'); return false; });
    $("#new_withdraw").click(function(){ $("#withdraw_place").load($(this).attr('href')+'.js'); return false; });
  });
</script>
