<%= title I18n.t("payments") %>
<h1><%= I18n.t("payments") %></h1>

<table class="basic_table credits_table">
  <tr>
    <td><%= I18n.t("payments.date") %></td>
    <td><%= I18n.t("payments.kind_transaction") %></td>
    <td><%= I18n.t("payments.amount") %></td>
  </tr>

<% @credits.each do |day, credits| -%>
<% i = 0 -%>
  <% (m = credits.group_by{|x| x.kind_transaction }).each do |t,c| -%>
    <tr>
      <% if i == 0 -%>
      <% i = 1 -%>
      <td rowspan="<%= m.size %>"><%= day.to_s %></td>
      <% end -%>
      <td><%= @kind_transactions[t] %></td>
      <td><%= number_to_currency c.sum{|x| x.amount } %></td>
    </tr>

  <% end -%>
<% end -%>
</table>

<hr />
<table class="basic_table debits_table">
  <tr>
    <td><%= I18n.t("payments.date") %></td>
    <td><%= I18n.t("payments.kind_transaction") %></td>
    <td><%= I18n.t("payments.amount") %></td>
  </tr>
<% @debits.each do |day, debits| -%>
<% i = 0 -%>
  <% (m = debits.group_by{|x| x.kind_transaction }).each do |t,d| -%>
  <tr>
    <% if i == 0 -%>
    <% i = 1 -%>
    <td rowspan="<%= m.size%>"><%= day.to_s %></td>
    <% end -%>
    <td><%= @kind_transactions[t] %></td>
    <td><%= number_to_currency d.sum{|x| x.amount } %></td>
  </tr>
  <% end -%>

<% end -%>
</table>
