	<ul class="catalog dotted">
    <li class="selected"><a href="#">Поиск по плейлистам</a></li>
  </ul>

					<ul class="top-playlist">

<% for playlist in block_playlist -%>
<li>
	<dl>

<% if playlist.icon? -%>
  <dd class="photo">
    <span class="corn-top"><span></span></span>
      <span class="photo">
        <%= image_tag(playlist.icon.url(:thumb)) %>
      </span>
    <span class="corn-bot"><span></span></span>
  </dd>
<% end -%>
		
		<dd class="name"><%= link_to playlist.title, :class => "name" %></dd>
		<dd class="autor">Автор: <span><%= playlist.user.login %></span></dd>
		<dd>Рейтинг - 49</dd>
		<dd>Песен - <%= playlist.tracks.size %></dd>
		<dd>Комментариев - <%= playlist.comments.size %></dd>
		<dd>Создан - <%= playlist.created_at %></dd>
	</dl>
</li>
<% end -%>

					</ul>

