<% form_tag '/search/playlists', :method => :get do %>
<p>Строка по плейлистам: <%= text_field_tag "search" %></p>
<p>  <%= submit_tag "Найти" %></p>
<% end -%>

<% form_tag '/search/mp3', :method => :get do %>
<p>Строка поиска: <%= text_field_tag "search" %></p>
<p>По автору  <%= radio_button_tag 'attribute', 'author' %></p>
<p>По титлу  <%= radio_button_tag 'attribute', 'title' %></p>
<p>Везде  <%= radio_button_tag 'attribute', 'everywhere', :checked => true %></p>
<p>  <%= submit_tag "Найти" %></p>
<% end -%>

<% form_tag '/search/news', :method => :get do %>
<p>Строка поиска по контенту: <%= text_field_tag "search" %></p>
<p>  <%= submit_tag "Найти" %></p>
<% end -%>

