<%= title(params[:search_string]) %>

<% content_for :title do %>
  Поиск
<% end %>


<% unless @rez_search.nil? -%>
  <% unless @rez_search.empty? -%>

<%= will_paginate @rez_search %>


  <% if @params == "playlist" -%>
<table border="1">
    <%= render :partial => 'block_playlist', :collection => @rez_search %>
</table>
  <% end -%>

  <% if @params == "track" -%>
<table border="1">
    <%= render :partial => 'block_track', :collection => @rez_search %>
</table>
  <% end -%>

  <% if @params == "news" -%>
<ul class="all-news">
    <%= render :partial => 'block_news', :collection => @rez_search %>
</ul>
  <% end -%>


<%= will_paginate @rez_search %>

  <% else -%>
    Файл <%= params[:search_string] %> не найден в нашей базе, попробуйте запросить его в <%= link_to 'столе заказов', orders_path %>.
  <% end -%>
<% end -%>

