<%= _title I18n.t("settings") %>
<h1><%= I18n.t("settings") %></h1>
<table class="basic_table settings_table">
  <tr>
    <td><%= I18n.t("admin.settings.name") %></td>
    <td><%= I18n.t("admin.settings.value") %></td>
    <td></td>
  </tr>
  <% for parametr in @app_settings %>
  <tr>
    <td><%= parametr.name %></td>
    <td><%= parametr.value %></td>
    <td><%= link_to I18n.t("edit"), edit_resource_path(parametr)  %></td>
  </tr>
  <% end %>
</table>
