<%= _title I18n.t("admin.settings.title") %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to I18n.t("admin.settings.title"), admin_settings_path %></li>
</ul>

<table class="basic_table settings_table mp3-list">
  <tr>
    <td><%= I18n.t("admin.settings.name") %></td>
    <td><%= I18n.t("admin.settings.value") %></td>
    <td></td>
  </tr>
  <% for parametr in @app_settings %>
  <tr class="<%= cycle('white', 'red')%>">
    <td><%= parametr.name %></td>
    <td><%= parametr.value %></td>
    <td><%= link_to I18n.t("edit"), edit_resource_path(parametr)  %></td>
  </tr>
  <% end %>
</table>
