<%= javascript_include_tag 'swfobject', 'audio-player' %>
<%= javascript_include_tag "soundmanager2.js" %>




<h1>Нарезка треков</h1>
<div>
  <h4>Иформация по треку</h4>
<%= @track.title %>
</div>
<% form_tag cut_mp3_cut_path, :method => :post do  -%>
					<div class="player-wr">
						<p class="current-track"></p>
							<form method="post" action="#" class="clip">
								<fieldset>
									<div class="player">
										<a href="#" class="play" onclick="play_pause(); return false;"></a>
										<span class="timeline">
											<!-- <span class="timeline-act"> -->
											<div id="slider-range"></div>
											<!-- </span> -->
										</span>
										<a href="#" class="clip"></a>
										<%= submit_tag "", :class => "clip2" %>
										<span class="time" id="time"><span id="track-time">00:00</span><span>&nbsp;-&nbsp;</span><span id="track-time">00:00</span></span>
									</div>
								</fieldset>
							</form>
					</div>

<div id="ajax_loader_image"><%= image_tag("ajax-loader2.gif") %>Дождитесь загрузки трека.</div>

<%= hidden_field_tag 'id', @track.id %>
<%= hidden_field_tag 'time[start]' %>
<%= hidden_field_tag 'time[stop]' %>
<% end -%>

<script type="text/javascript">
 $(function(){
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: "<%= @length %>",
				values: [0, "<%= @length %>"],
				slide: slideTime,
                                change: mySound_stop
			});
			function slideTime(event, ui){
        var start_time =  parseInt($("#slider-range").slider("values", 0));
        var stop_time  =  parseInt($("#slider-range").slider("values", 1));
        $("#time_start").val(start_time);
        $("#time_stop").val(stop_time);
				var minutes0 = parseInt($("#slider-range").slider("values", 0) % 60);
				var hours0 = parseInt($("#slider-range").slider("values", 0) / 60 % 24);
				var minutes1 = parseInt($("#slider-range").slider("values", 1) % 60);
				var hours1 = parseInt($("#slider-range").slider("values", 1) / 60 % 24);
				$("#time").text(getTime(hours0, minutes0) + ' - ' + getTime(hours1, minutes1));
			}

			function getTime(hours, minutes) {
				var time = null;
				minutes = minutes + "";
				return hours + ":" + minutes;
			}
			slideTime();
 });
</script>



<script type="text/javascript">

var mySound = null
var activation_player = false;
soundManager.url = '/flash/'; // directory where SM2 .SWFs live
soundManager.useFlashBlock = false; // skip for now. See the flashblock demo when you want to start getting fancy.
soundManager.debugMode = false;
soundManager.onready(function(oStatus) {
  // check if SM2 successfully loaded..
  if (oStatus.success) {
    // SM2 has loaded - now you can create and play sounds!
    mySound = soundManager.createSound({
      id: 'aSound',
      url: '<%= @temp_url %>',
      autoLoad: true,
      onload:function() {
        $("#ajax_loader_image").html(" ");
        activation_player = true;
      }
    });
  }
});

function play_pause() {
  if(activation_player == true) {
    if(mySound.playState == "1") {
      mySound.togglePause();
    }
    else {
      start_position = get_position();
      mySound.play({position:start_position});
    }
  }
}



function mySound_stop(event, ui) {
  mySound.stop();
}

function get_position() {
  return $('#time_start').attr('value') + "000";
}

function play() {
  start_position = get_position()
//  alert(start_position);
  mySound.play({position:start_position});
  setInterval("end();", 200);
}


function end() {
  end_time = $('#time_stop').attr('value') + "000";
  if(mySound.position >= end_time) {
    mySound.stop();
  }
}


</script>



