<%= javascript_include_tag 'swfobject', 'audio-player' %>

<%= stylesheet_link_tag("360player.css")  %>
<%= javascript_include_tag "berniecode-animator.js" %>
<%= stylesheet_link_tag("flashblock.css")  %>
<%= stylesheet_link_tag("360player.css")  %>
<%= stylesheet_link_tag("360player-visualization.css")  %>
<%= javascript_include_tag "berniecode-animator.js" %>
<%= javascript_include_tag "soundmanager2.js" %>
<%= javascript_include_tag "360player.js" %>

<script type="text/javascript">

soundManager.url = '/flash/'; // path to directory containing SM2 SWF

soundManager.useFastPolling = true; // increased JS callback frequency, combined with useHighPerformance = true
soundManager.setPosition(50000); // 500 msec into sound
soundManager.setPan(-75);      // 75% left pan

threeSixtyPlayer.config.scaleFont = (navigator.userAgent.match(/msie/i)?false:true);
threeSixtyPlayer.config.showHMSTime = true;

// enable some spectrum stuffs

threeSixtyPlayer.config.useWaveformData = true;
threeSixtyPlayer.config.useEQData = true;

// enable this in SM2 as well, as needed

if (threeSixtyPlayer.config.useWaveformData) {
  soundManager.flash9Options.useWaveformData = true;
}
if (threeSixtyPlayer.config.useEQData) {
  soundManager.flash9Options.useEQData = true;
}
if (threeSixtyPlayer.config.usePeakData) {
  soundManager.flash9Options.usePeakData = true;
}

// include the favicon, why not.
threeSixtyPlayer.config.useFavIcon = true;
threeSixtyPlayer.config.position = 80000

</script>

<style type="text/css">

#left h2 {
 padding-top:0px;
 margin-bottom:0.25em;
 color:#666;
}

pre.block {
 margin-top:0.5em;
}

/* special case */

#left {
 width:auto;
 max-width:100%;
}

</style>

<div class="ui360"><a href="http://freshly-ground.com/data/audio/mpc/20060826%20-%20Armstrong.mp3">20060826 - Armstrong Groove</a></div>



<h1>Нарезка треков</h1>
<div>
  <h4>Иформация по треку</h4>
  ......
</div>

<span id="audioplayer_<%= @track.id %>"></span>
<div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-range" style="width: 400px;">
</div>
<% form_tag cut_mp3_cut_path, :method => :post do  -%>
<%= hidden_field_tag 'id', @track.id %>
<%= hidden_field_tag 'time[start]' %>
<%= hidden_field_tag 'time[stop]' %>
<span id="time">00:00  - <%= @_ll %></span>
<%= submit_tag "Нарезать и скачать" %>
<% end -%>

<script type="text/javascript">
 $(function(){
      AudioPlayer.setup("/flash/player.swf", { width: 280  });
      AudioPlayer.embed("audioplayer_<%= @track.id %>", { soundFile: "<%= @temp_url %>", titles: "<%= @track.title %>" });

			$("#slider-range").slider({
				range: true,
				min: 0,
				max: "<%= @length %>",
				values: [0, "<%= @length %>"],
				slide: slideTime
			});
			function slideTime(event, ui){
        var start_time =  parseInt($("#slider-range").slider("values", 0));
        var stop_time  =  parseInt($("#slider-range").slider("values", 1));
        $("#time_start").val(start_time);
        $("#time_stop").val(stop_time);
				var minutes0 = parseInt($("#slider-range").slider("values", 0) % 60);
				var hours0 = parseInt($("#slider-range").slider("values", 0) / 60 % 24);
				var minutes1 = parseInt($("#slider-range").slider("values", 1) % 60);
				var hours1 = parseInt($("#slider-range").slider("values", 1) / 60 % 24);
				$("#time").text(getTime(hours0, minutes0) + ' - ' + getTime(hours1, minutes1));
			}

			function getTime(hours, minutes) {
				var time = null;
				minutes = minutes + "";
				return hours + ":" + minutes;
			}
			slideTime();
 });
</script>

