<% content_for :title do %>
<%= @title %>
<% end -%>

<h1>Admin::News_items</h1>
<% form_tag news_items_admin_seaches do -%>
  <p><%= text_field_tag("search_string") %></p>
  <p><%= radio_button_tag("attribute", "everywhere", checked = true)  %></p>
  <p><%= radio_button_tag("attribute", "id", checked = true)  %></p>
  <p><%= submit_tag "Найти" %></p>
<% end -%>

<% unless @rez_search.nil? or @rez_search.empty? -%>
  <table class="">
    <%= render :partial => 'block_news', :collection => @rez_search %>
  </table>
<% else -%>
  <%= @title %>
<% end %>

