<%= title I18n.t("account") %>
<h1><%= I18n.t("account") %></h1>
<%= link_to I18n.t("edit"), edit_account_path, :title => I18n.t("edit") %>
<table class="basic_table account_table ">
  <tr>
    <td><%= I18n.t("login") %></td>
    <td><%= current_user.login %></td>
  </tr>
   <tr>
    <td><%= I18n.t("email") %></td>
    <td><%= current_user.email %></td>
  </tr>
</table>


