<ul class="catalog dotted">
	<li class="selected"> <%= link_to I18n.t("account.title"), account_path %></li>
	<li><%= link_to I18n.t("tracks.upload_tracks"), new_track_path %></li>
</ul>

<p class="all-list dotted"><%= link_to I18n.t("logout"), logout_path %></p>

<table class="mp3-list profile">


	<tr>
		<td class="red"><%= I18n.t("account.total_amount") %></td>
		<td><%= number_to_currency (current_user.balance+current_user.total_withdrawal) %></td>
	</tr>
	<tr class="white">
		<td class="red"> <%= I18n.t("account.withdrawal") %></td>
		<td><%= number_to_currency current_user.total_withdrawal %></td>
	</tr>
	<tr>
		<td class="red"><%= I18n.t("account.balance") %></td>
		<td><%= number_to_currency current_user.balance %></td>
	</tr>

	<tr class="white">
		<td class="red"><%= I18n.t("account.count_tracks") %></td>
		<td><%= current_user.tracks.count %>
      <% if current_user.tracks.count > 0 %>
      (<%= link_to I18n.t("account.see_list_tracks"), my_tracks_path %>)
      <%end%>
    </td>
	</tr>
	<tr>
		<td class="red">Кошелёк</td>
		<td>
		  <% if current_user.webmoney_purse.blank? %>
      <%= link_to 'Вписать кошелёк', edit_user_url(current_user.id) %>
		  <% else %>
  		<%= current_user.webmoney_purse -%>
  		<% end -%>
		</td>
	</tr>
  <tr class="white">
		<td class="red"> </td>
    <td><%= link_to "Сменить email или пароль", edit_user_url(current_user) %></td>
	</tr>

</table>

