<%= title [I18n.t("edit_user"), resource.login].join(": ") %>
<h1><%= [I18n.t("edit_user"), resource.login].join(": ") %></h1>
<%= link_to "back", :back %>
<% semantic_form_for [:admin, resource] do |form| %>
<%= render :partial => 'form', :object => form %>
<% form.buttons :class => "update_button" do -%>
<%= form.commit_button I18n.t("update_user") %>
<% end -%>
<% end -%>
