<%= title I18n.t("users") %>
<h1><%= I18n.t("users") %></h1>
<%= link_to I18n.t("new_users"), new_admin_user_path %>

<table class="basic_table users_table">
  <tr>
    <td><%= I18n.t("id") %></td>
    <td><%= I18n.t("admin.users.head_login") %></td>
    <td><%= I18n.t("email") %></td>
    <td><%= I18n.t("balance") %></td>
    <td><%= I18n.t("add_files") %></td>
    <td><%= I18n.t("download_files") %></td>
    <td><%= I18n.t("role") %></td>
    <td><%= I18n.t("actions") %></td>
  </tr>
  <% @users.each do |user| -%>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.login, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= number_to_currency user.balance %></td>

    <td><%= "add_files" %></td>
    <td><%= "download_files" %></td>
    <td><%= user.roles.first.title %></td>
    <td><%= link_to I18n.t("edit"), edit_admin_user_path(user) -%> <%= link_to I18n.t("delete"),  admin_user_path(user), :method => :delete ,
             :confirm =>  I18n.t("delete_user"), :title => I18n.t("delete_user") -%> <%= link_to I18n.t("block"), "" -%>
    </td>
  </tr>
  <% end -%>
</table>
