<%= javascript_include_tag 'swfobject', 'audio-player' %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to "Плейлисты", admin_playlists_path %></li>
</ul>
<ul class="all-list dotted">
	<li class="next"><%= link_to "Предыдущий", admin_playlist_path(@prev_playlist) rescue "Предыдущий" %></li>
	<li class="next"><%= link_to "Следующий", admin_playlist_path(@next_playlist) rescue "Следующий" %></li>
  <li class="edit-playlist"><%= link_to_or_login "Редактировать", edit_admin_playlist_path(@playlist), :id => "playlist_edit" %></li>
</ul>

<dl class="playlist">
	<dd id="description" class="descr"><span><%= @playlist.description_on_not %></span></dd>
	<dd class="playlist-prev">
		<span class="corn-top"><span></span></span>
		<span class="photo"><%= image_tag @playlist.icon.url(:thumb) %></span>
		<span class="corn-bot"><span></span></span>
	</dd>
	<dd id="title" class="name"><%= @playlist.title %></dd>
	<dd id="owner" class="autor">Автор: <span><%= @playlist.owner %></span></dd>
	<dd>Песен - <%= @playlist.tracks.size %></dd>
	<dd>Создан - <%= @playlist.created_at %></dd>
</dl>

<div class="player">
	<p class="current-track">Ирина Добровольская и Артем Коновалов</p>
  <span id="audioplayer_0"></span>
	<script type="text/javascript">
						 $(function(){
							AudioPlayer.setup("/flash/player.swf", { width: 280  });
							AudioPlayer.embed("audioplayer_0", { soundFile: "http://localhost:3000/tracks/0/play", titles: "Название" });
						 });
	</script>
</div>

<table class="playlist" id="tracks">
  <% @tracks.each_with_index do |track, index| %>
    <%= render :partial => "playlists/track_for_play", :locals => {:track => track, :index => index} %>
  <% end %>
</table>
<%= paginate @tracks %>

