<%= javascript_include_tag 'swfobject', 'audio-player' %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to "Плейлисты", admin_playlists_path %></li>
</ul>
<ul class="all-list dotted">
	<li class="prev"><%= link_to "Предыдущий", playlist_path(@prev_playlist) rescue "<a href='#'>Предыдущий</a>" %></li>
	<li class="next"><%= link_to "Следующий", playlist_path(@next_playlist) rescue "<a href='#'>Следующий</a>" %></li>

  <% unless current_user.blank? -%>
    <% if current_user.playlists.include?(@playlist) or current_user.admin? -%>
      <li class="edit-playlist"><%= link_to_or_login "Редактировать", edit_admin_playlist_path(@playlist), :id => "playlist_edit" %></li>
      <li class="delete-playlist"><%= link_to_or_login "Удалить", admin_playlist_path(@playlist), :id => "playlist_edit", :method => :delete, :confirm => "Вы действительно желаете удалить плейлист с назнанием '#{@playlist.title}'?" %></li>
    <% end -%>
  <% end -%>


</ul>

<dl class="playlist">
	<dd id="description" class="descr"><span><%= @playlist.description_on_not %></span></dd>
	<dd class="playlist-prev">
		<span class="corn-top"><span></span></span>
		<span class="photo"><%= image_tag @playlist.icon.url(:thumb) %></span>
		<span class="corn-bot"><span></span></span>
	</dd>
	<dd id="title" class="name"><%= @playlist.title %></dd>
	<dd id="owner" class="autor">Автор: <span><%= @playlist.owner %></span></dd>
	<dd>Песен - <%= @playlist.tracks.size %></dd>
	<dd>Создан - <%= @playlist.created_at %></dd>
</dl>

<div class="player" >
	<p class="current-track"></p>
  <span id="audioplayer_0"></span>
	<script type="text/javascript">
						 $(function(){
							AudioPlayer.setup("/flash/player.swf", { width: '80%'  });
							AudioPlayer.embed("audioplayer_0", { soundFile: "", titles: "Название" });
						 });
	</script>
</div>

<table class="playlist" id="tracks">
  <% @tracks.each_with_index do |track, index| %>
    <%= render :partial => "playlists/track_for_play", :locals => {:track => track, :index => index} %>
  <% end %>
</table>

<div class="cart">
  <p><a href="#">Корзина (3)</a></p>
</div>

<p class="info">Для сохранения изменений нажмите “Сохранить” или “Отменить”, если не хотите изменять данные</p>

<%= paginate @tracks %>

<script type="text/javascript" charset="utf-8">
  $(function(){

    $(".listen").live('click',function(){
      $("div.player").show();
      var track_url = $(this).attr('href');
      AudioPlayer.load("audioplayer_0", track_url);
      AudioPlayer.open("audioplayer_0");
      $("p.current-track").text($(this).attr('data_author')+ ":" + $(this).attr('data_title'))

      return false;
    });

  });
</script>

