<div id="title">
  <%= @playlist.title %>
</div>
<div id="description">
  <%= @playlist.description %>
</div>
<div id="owner">
  <%= link_to @playlist.owner, @playlist.user %>
</div>

<h2>Треки плейлиста</h2>
<table id="tracks">
  <tr>
    <th>Исполнитель</th>
    <th>Название</th>
    <th>Битрейт</th>
    <th>Размер</th>
  </tr>
  <% @tracks.each_with_index do |track, index| %>
    <%= render :partial => "tracks/track", :locals => {:track => track, :index => index} %>
  <% end %>
</table>

<h2>Комментарии</h2>
<table id="comments">
  <tr>
    <th>Автор</th>
    <th>Название</th>
    <th>Комментарий</th>
  </tr>
  <% @comments.each_with_index do |comment, index| %>
    <%= render :partial => "comments/comment", :locals => {:comment => comment, :index => index} %>
  <% end %>
</table>


<h2>Добавить комментарий</h2>
<% semantic_form_for [:admin, @playlist.comments.build] do |f| %>
  <%= hidden_field_tag :switch, "playlist" %>
  <%= hidden_field_tag :object_id, @playlist.id %>
  <%= render :partial => 'admin/comments/form', :locals => {:f => f} %>
<% end %>

