<%= javascript_include_tag 'swfobject', 'audio-player' %>
<ul class="catalog dotted">
	<li class="selected"><%= link_to "Мои Плейлисты", admin_playlists_path %></li>
</ul>
<ul class="all-list dotted">
	<li class="prev"><a href="#">Предыдущий</a></li>
	<li class="next"><a href="#">Следующий</a></li>
	<li class="edit-playlist"><a href="#">Редактировать</a></li>
</ul>

<dl class="playlist">
	<dd id="description" class="descr"><span><%= @playlist.description_on_not %></span></dd>
	<dd class="playlist-prev">
		<span class="corn-top"><span></span></span>
		<span class="photo"><%= image_tag @playlist.icon.url(:thumb) %></span>
		<span class="corn-bot"><span></span></span>
	</dd>
	<dd id="title" class="name"><%= @playlist.title %></dd>
	<dd id="owner" class="autor">Автор: <span><%= @playlist.owner %></span></dd>
	<dd>Песен - <%= @playlist.tracks.size %></dd>
	<dd>Создан - <%= @playlist.created_at %></dd>
</dl>

<div class="player">
	<p class="current-track">Ирина Добровольская и Артем Коновалов</p>
  <%# @track = Track.first %>
  <%# @temp_url = track_url(@track) %>
  <span id="audioplayer_<%#= @track.id %>"></span>
	<script type="text/javascript">
						 $(function(){
							AudioPlayer.setup("/flash/player.swf", { width: 280  });
							AudioPlayer.embed("audioplayer_<%#= @track.id %>", { soundFile: "<%#= @temp_url %>", titles: "<%#= @track.title %>" });
						 });
	</script>
</div>

<table class="playlist" id="tracks">
  <% @tracks.each_with_index do |track, index| %>
    <%= render :partial => "playlists/track_for_play", :locals => {:track => track, :index => index} %>
  <% end %>
</table>

