<div id="ajax_block">
<h2><%= I18n.t("log_in") %></h2>

<%= @user_session.errors["ban"] unless @user_session.errors["ban"].blank? %>

<% semantic_form_for @user_session,  :html => {:class => "login_form content"}, :update => "ajax_block" do |form| %>
  <label>
    <%= form.error_messages :class => "red", :header_tag => nil, :header_message => nil, :message => nil %>
  </label>
  <% form.inputs do -%>
     <li id="user_session_email_input" class="string optional">
       <label for="user_session_password">E-mail</label>
       <%= form.text_field :email %>
     </li>
     <li id="user_session_password_input" class="password optional">
       <label for="user_session_password">Пароль</label>
       <%= form.password_field :password %>
     </li>
  <% end -%>
 <% form.buttons :class => "buttons" do -%>
  <%= form.commit_button I18n.t("login"), :button_html => { :class => "buttons" }  %>
 <% end -%>
<% end -%>

<p>
  <%= I18n.t("forgot_your_password") %>?
  <%= link_to I18n.t("recover_your_password"), new_password_reset_path, :title =>I18n.t("recover_your_password")  %>
</p>

<style type="text/css" media="screen">
  input {
  border: 1px gray solid;
  color: black;
  font-weight:normal;
  }
</style>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("form#new_user_session").submit(function(){
         $.ajax({
             "url": $(this).attr('action')+'.js',
            "data": $(this).serialize(),
            "type": "POST",
         "success": function(data) {
              jQuery('#ajax_block').html(data);
            }
          });

      return false;
    });
  });
</script>
