<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h("#{Settings[:APP_NAME]} - #{yield(:title) || controller.action_name}" ) %></title>
    <%= stylesheet_link_tag 'reset','layout', 'modules.css' %>
    <%= javascript_include_tag  'jquery' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div>
      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </div>

    <div>
      <div class="left">
        <h1>Admin panel</h1>
        <%= render :partial => '/templates/admin_menu' %>
      </div>

      <div>
        <%= yield %>
      </div>

    </div>
  </body>
</html>

