<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h("#{Settings[:APP_NAME]} - #{yield(:title) || controller.action_name}" ) %></title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>
    <%= javascript_include_tag  'jquery' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div>
      <div class="user_panel"><%= render 'templates/user_panel' %></div>
      <div class="main_menu"><%= render 'templates/main_menu'  %></div>

      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <h1><%=h yield(:caption) %></h1>
      <%= render :partial => 'templates/search_form' %>
      <%= yield %>
    </div>
  </body>
</html>

