<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>
    <%= javascript_include_tag  'jquery' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div>
      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <h1><%=h yield(:caption) %></h1>

      <div>
        <% if current_user -%>
        <div>
          <span><%= link_to current_user.login, accoun_path %></span>
          <%= link_to I18n.t("logout"), logout_path %>
        </div>
        <% else -%>
        <%= link_to I18n.t("register"), signup_path %>
        <%= link_to I18n.t("login"), login_path %>
        <% end -%>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
