<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml" lang="ru">

  <head>
    <title><%= h("#{Settings[:APP_NAME]} - #{yield(:title) || controller.action_name}" ) %></title>
    <%= stylesheet_link_tag 'reset','layout', 'modules.css', 'formtastic', 'formtastic_changes' %>
  	<link rel="stylesheet" type="text/css" media="Screen,projection" href="style/style.css" />
	  <!--[if lt IE 8]>
		  <link rel="stylesheet" type="text/css" media="Screen,projection" href="style/ie.css" />
	  <![endif]-->

    <%= javascript_include_tag  'jquery' %>

    <%= yield(:head) %>
  </head>
  <body class="homepage">
    <div>
      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </div>

    <div id="ajax_indicator" style="display:none">
      <%= I18n.t("download_data") %>
    </div>

    <div id="wrapper">
      <div class="header">
        <h1 title="Mp3Koza"><%= Settings[:APP_NAME] %><span></span></h1>
        <div class="navigation"><%= render "templates/navigation" %></div>
        <div class="advertisment">
          <p>
					<a href="#"><img src="images/advertisment-iPod.jpg" alt="iPod" /></a>
					<a href="#"><img src="images/advertisment-sms.jpg" alt="iPod" /></a>
				  </p>
        </div>

        <div class="user-menu-wr">
          <%= render "templates/user_panel" %>
        </div>
        <div class="search-form">
          <%= render "templates/search" %>
        </div>
      </div>

      <div class="main twocol-l">
        <div class="content-wrapper">
          <%= yield %>
        </div>
      </div>

      <!-- footer -->
      <div class="footer">
        <%= render "templates/footer" %>
      </div>

    </div>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        $('#ajax_indicator').ajaxStart(function() {
          $(this).show();
        }).ajaxStop(function(){
          $(this).hide();
        });;
      });
    </script>
  </body>
</html>

